@page "/artist/{spotifyid}"

<MudItem Style="margin-top: 60px;">
    <MudGrid>
        <MudItem md="12" sm="12" xs="12" xl="12" xxl="12" lg="12">
            <MudContainer>
                <MudGrid Justify="Justify.Center" Style="display: flex; align-items: center;">
                    <MudItem md="5" sm="12" xs="12" xl="5" xxl="5" lg="5">
                        <MudContainer Style="display: flex; align-items: center; justify-content: center;">
                            <MudAvatar Style="height: 200px; width: 200px;">
                                <MudImage src="@Artista.Foto_Perfil"></MudImage>
                            </MudAvatar>
                        </MudContainer>


                    </MudItem>
                    <MudItem md="5" sm="12" xs="12" xl="5" xxl="5" lg="5">
                        <MudContainer Style="display: flex; align-items: center; justify-content: center; flex-direction: column;">

                            <MudText  Style="font-size: 25px; font-weight: bold"Color="Color.Error">ARTISTA</MudText>
                            <MudText  Style="font-size: 35px; font-family: SourceSerif4;">“@Artista.Nombre”</MudText>
                             @if(Artista.GenerosMusicales.Count()>= 2)
                             {
                                    <MudText Style="font-size: 12px;margin-top: 20px; " Color="Color.Error">

                               
                                         @Artista.GenerosMusicales[0].Genero?.Nombre / @Artista.GenerosMusicales[0].Genero?.Nombre
                                
                               
                                
                                     </MudText>
                             }
                            
                            <MudChip Variant="MudBlazor.Variant.Filled" Color="Color.Error" Style="font-size: 12px;margin-top: 20px; margin-bottom: 15px; font-weight: bold; cursor: pointer; " Text="Suscribirse"></MudChip>

                        </MudContainer>


                    </MudItem>
                </MudGrid>
                

            </MudContainer>
            

        </MudItem>

        <MudDivider Style="margin-top: 20px; margin-bottom: 20px;"></MudDivider>

        
        <MudItem md="12" sm="12" xs="12" xl="12" xxl="12" lg="12">

            <MudGrid Style="display: flex; align-items: center;">
                <MudItem md="4" lg="4" xxl="4" xl="4" sm="12" xs="12">
                   

                    <MudContainer Style="display: flex; flex-direction: column; gap: 20px;">
                        <div style="display: flex; gap: 10px; align-items: center;">
                            <MudIcon Icon="@Icons.Material.Rounded.MusicNote" Style="height: 17px; width: 17px;" Color="Color.Error"></MudIcon>
                            <MudText Style="font-size: 15px;font-weight: bold; " Color="Color.Error">TRACKS</MudText>
                        
                            <MudText Style="font-size: 15px;">@Artista.GetAllTracksCount()</MudText>
                        </div>
                        <MudDivider></MudDivider>
                        <div style="display: flex; gap: 10px; align-items: center;">
                            <MudIcon Icon="@Icons.Material.Rounded.EditNote" Style="height: 17px; width: 17px;" Color="Color.Error"></MudIcon>
                            <MudText Style="font-size: 15px;font-weight: bold; " Color="Color.Error">REVIEWS</MudText>

                           
                            <MudText Style="font-size: 15px; ">@Artista.Albumes.Count()</MudText>
                        </div>
                        <MudDivider></MudDivider>

                        
                    </MudContainer>
                </MudItem>

                <MudItem md="8" lg="8"  xxl="8" xl="8" sm="12" xs="12">
                    <MudText Align="Align.Center" Style="font-size: 20px; font-weight: bold ;margin-top: 20px; margin-bottom: 40px;" Color="Color.Error">TRACKS POPULARES</MudText>

                    <MudContainer>
                        <MudGrid Justify="Justify.Center">


                            @foreach (var track in Tracks )
                            {
                                <MudItem md="6" lg="6" xxl="6" xl="6" sm="12" xs="12">
                                    <MetaMusic.Pages.Common_Components.TrackComponent track="@track"></MetaMusic.Pages.Common_Components.TrackComponent>
                                </MudItem>
                            }


                        </MudGrid>
                    </MudContainer>
                </MudItem>


                
            </MudGrid>

        </MudItem>


        <MudDivider Style="margin-top: 20px; margin-bottom: 20px;"></MudDivider>



        <MudItem md="12" lg="12" xl="12" xxl="12" sm="12" xs="12" Style="margin-top: 40px; margin-bottom: 40px;">
            <MudText Align="Align.Center" Style="font-size: 20px; font-weight: bold ;margin-top: 20px; margin-bottom: 40px;" Color="Color.Error">REVIEWS</MudText>


            <MudGrid>
                @foreach(var album in albumes)
                {
                    <MudItem md="3" lg="3" xl="3" xxl="3" sm="6" xs="6">
                        <MetaMusic.Pages.Common_Components.ReviewCard album="@album"></MetaMusic.Pages.Common_Components.ReviewCard>
                    </MudItem>
                }
            </MudGrid>
        </MudItem>
    </MudGrid>
</MudItem>

@functions{
    protected override async Task OnParametersSetAsync()
    {
        await GetArtista();
    }

    public async Task GetArtista(){

        var r = await artistaService.ConsultarArtista(spotifyid);

        if(r.Success)
        {
            Artista = r.Data ?? new ArtistaResponse();
            StateHasChanged();
        }
    }
  
}
@code {

    [Parameter] public string spotifyid { get; set; }
    public ArtistaResponse Artista = new ArtistaResponse();
    public List<AlbumResponse> albumes = new List<AlbumResponse>();
    public List<Track> Tracks = new List<Track>();


}
