@inherits LayoutComponentBase
<MudThemeProvider  IsDarkMode=@theme.IsDark() Theme="ThemeCustom"/>
<MudDialogProvider />
<MudSnackbarProvider />
<PageTitle>MetaMusic</PageTitle>
<style>
     .meta-nav-button {
    }

       .meta-nav-button:hover {
            color: #E74646;
        }

        ::-webkit-scrollbar {
    width: 1px;
    border-radius: 10px;
}

    .navbar-container {
        
    }

    .mostrar {
        border-bottom: 1px solid #E74646;
    }



   

    ::-webkit-scrollbar-thumb {
        width: 2px;
        background: #E74646; /* make scrollbar transparent */
    }

    ::-webkit-scrollbar-thumb {
        width: 2px;
        border-radius: 10px;
        background: #E74646; /* make scrollbar transparent */
    }


</style>
<div style="     width: calc( 100vw - 14px); ">
 
    <MudItem>
        <MudGrid>
            <MudItem md="12" sm="12" xs="12" xxl="12" lg="12" xl="12" Style="@($""" {(theme.IsDark() ? "background-color:#000000;" : "background-color:#ffffff;")}; z-index: 10;""")">

                <MudContainer id="navbar" Class="@navbarclass" Style="@($""" {(theme.IsDark() ? "background-color:#000000;" : "background-color:#ffffff;")}; z-index: 10;height: 80px; display: flex; justify-content: space-between; max-width: 100%; gap: 10px;position: fixed;""")">
                  
                    <MudTooltip Arrow=true Color="Color.Error" Text="Ir a Inicio">
                        <div @onclick='()=>{navManager.NavigateTo("/");}' style="display: flex; cursor: pointer; align-items: center; flex-direction: column;">

                            @if (theme.IsDark())
                            {
                                <MudImage Src="/meta-logo-white.png" Style="width: 50px; width: 50px;"></MudImage>
                            }
                            else
                            {
                                <MudImage Src="/meta-logo.png" Style="width: 50px; width: 50px;"></MudImage>
                            }

                            <MudText Style="font-size: 10px; font-weight: bold;">M E T A M U S I C</MudText>
                        </div>
                    </MudTooltip>
                    
                  
                    <div style="display: flex; align-items: center;  gap : 17px;">


                      

                        <AuthorizeView>
                            <Authorized>

                                <MudMenu AnchorOrigin="Origin.BottomLeft" TransformOrigin="Origin.TopCenter">

                                    <ActivatorContent>
                                        <MudAvatar Style="height: 35px; width: 35px;  margin-right: 20px;"><MudImage Fluid="true" ObjectFit="ObjectFit.Cover" src="@UsuarioActual.FotoDePerfil" Style="height:100%;border-radius: 10px; width: 100%;  " /></MudAvatar>

                                    </ActivatorContent>
                                    <ChildContent>

                                        <BlazorAnimation.Animation Style="z-index: 999999; position: static;" Effect="BlazorAnimation.Effect.FadeIn" Speed="BlazorAnimation.Speed.Faster">

                                            <MudPaper Outlined="true" Style="z-index: 999999;  ">
                                                <MudContainer Style="max-height: 80vh; overflow: auto; margin-top: 10px;margin-bottom: 10px;min-width: 220px; ">


                                                    <MudText Align="Align.Center" Style="font-size: 12px; opacity: 0.7; ">Opciones</MudText>
                                                    <MudDivider Class="mb-3 mt-3"></MudDivider>
                                                    <MudMenuItem @onclick='()=>{navManager.NavigateTo($"/user/{ UsuarioActual.CorreoNormalizado}");}' Style="border-radius: 10px;">
                                                        <div style="display:flex; justify-content: space-between; align-items: center;">
                                                            <MudText Style="font-size: 12px;   ">Ver perfil</MudText>
                                                            <MudIcon Color="Color.Primary" Style="height:  15px; width: 15px;" Size="Size.Small" Icon="@Icons.Material.Rounded.Person"></MudIcon>
                                                        </div>

                                                    </MudMenuItem>
                                                    <MudMenuItem Style="border-radius: 10px;">
                                                        <div style="display:flex; justify-content: space-between; align-items: center;">
                                                            <MudText Style="font-size: 12px;   ">Notificaciones</MudText>
                                                            <MudIcon Color="Color.Primary" Style="height:  15px; width: 15px;" Size="Size.Small" Icon="@Icons.Material.Rounded.Notifications"></MudIcon>
                                                        </div>

                                                    </MudMenuItem>

                                                    @if (UsuarioActual.Rol.Tipo == "Staff")
                                                    {
                                                        <MudDivider Class="mb-3 mt-3"></MudDivider>
                                                        <MudText Align="Align.Center" Style="font-size: 12px; opacity: 0.7; ">Staff Options</MudText>
                                                        <MudDivider Class="mb-3 mt-3"></MudDivider>
                                                        <MudMenuItem @onclick='()=>{navManager.NavigateTo("/crear-contenido");}' Style="border-radius: 10px;">


                                                            <div style="display:flex; justify-content: space-between; align-items: center;border-radius: 9px;">
                                                                <MudText Color="Color.Error" Style="font-size: 12px;   ">Crear Contenido</MudText>
                                                                <MudIcon Color="Color.Error" Style="height:  15px; width: 15px;" Size="Size.Small" Icon="@Icons.Material.Rounded.Add"></MudIcon>
                                                            </div>




                                                        </MudMenuItem>
                                                        <MudMenuItem Style="border-radius: 10px;">
                                                            <div style="display:flex; justify-content: space-between; align-items: center;">
                                                                <MudText Style="font-size: 12px;   ">Peticiones</MudText>
                                                                <MudIcon Color="Color.Primary" Style="height:  15px; width: 15px;" Size="Size.Small" Icon="@Icons.Material.Rounded.NewReleases"></MudIcon>
                                                            </div>

                                                        </MudMenuItem>
                                                        <MudMenuItem Style="border-radius: 10px;">
                                                            <div style="display:flex; justify-content: space-between; align-items: center;">
                                                                <MudText Style="font-size: 12px;   ">Reportes</MudText>
                                                                <MudIcon Color="Color.Primary" Style="height:  15px; width: 15px;" Size="Size.Small" Icon="@Icons.Material.Rounded.Flag"></MudIcon>
                                                            </div>

                                                        </MudMenuItem>
                                                    }


                                                    <MudDivider Class="mb-3 mt-3"></MudDivider>
                                                    <MudMenuItem Style="border-radius: 10px; " Class="meta-nav-button">
                                                        <div style="border-radius: 10px; display: flex; align-items: center; justify-content: space-between;">
                                                            <MudLink Href="/google-log-out" Target="_top" Underline="Underline.None" Style="font-size: 12px;   " Class="meta-nav-button">Cerrar Sesion</MudLink>
                                                            <MudIcon Color="Color.Error" Style="height:  15px; width: 15px;" Size="Size.Small" Icon="@Icons.Material.Rounded.ArrowBack"></MudIcon>

                                                        </div>

                                                    </MudMenuItem>


                                                </MudContainer>


                                            </MudPaper>
                                        </BlazorAnimation.Animation>

                                    </ChildContent>






                                </MudMenu>
                               
                            </Authorized>
                            <NotAuthorized>
                                <MudChip Color="Color.Error" Target="_top" Style="font-size: 12px; font-weight: bold;" Href="/google-login" Text="Iniciar Sesion"></MudChip>

                            </NotAuthorized>

                        </AuthorizeView>

                        @if (theme.IsDark())
                        {
                            <MudTextField MaxLength="30" T="string" IconSize="Size.Small" AdornmentIcon="@Icons.Material.Rounded.Search" Adornment="Adornment.Start" Style="font-size: 12px;  margin-bottom: 20px;  font-weight:  bold; width: 25vw ;background-color: #191919;   border-radius:10px; height: 30px; padding: 10px;" Variant="MudBlazor.Variant.Text" DisableUnderLine="true" Placeholder='Buscar'></MudTextField>

                        }
                        else
                        {
                                                    <MudTextField MaxLength="30" T="string" IconSize="Size.Small" AdornmentIcon="@Icons.Material.Rounded.Search" Adornment="Adornment.Start" Style="font-size: 12px;  margin-bottom: 20px;  font-weight:  bold; width: 25vw ;background-color: #EEEEEE;   border-radius:10px; height: 30px; padding: 10px;" Variant="MudBlazor.Variant.Text" DisableUnderLine="true" Placeholder='Buscar'></MudTextField>
                            
                        }
                       @*  @if (theme.IsDark())
                        {
                        <MudIcon Size="Size.Small" Style="cursor: pointer;" @onclick="()=>{theme.SetDarkTheme(!theme.IsDark());}" Icon="@Icons.Material.Filled.WbSunny" Color="Color.Error"></MudIcon>
                        }
                        else
                        {
                            <MudIcon Size="Size.Small" Style="cursor: pointer;" @onclick="()=>{theme.SetDarkTheme(!theme.IsDark()) ; }" Icon="@Icons.Material.Rounded.NightlightRound" Color="Color.Error"></MudIcon>
                        } *@
                       
                    </div>

                </MudContainer>
               
            </MudItem>

            



            <MudItem md="12" sm="12" xs="12" xxl="12" lg="12" xl="12" Style="margin-top: 4em; ">
                <MudContainer >
                  
                    @if(UserDataLoaded)
                    {
                        @Body
                    }
                  
                </MudContainer>


            </MudItem>

            

        </MudGrid>
       
    </MudItem>

   


   

      
</div>

<script>
    document.addEventListener("scroll", function () {
        var elemento = document.getElementById("navbar");

        // Verificar si el scrollbar está en la parte superior
        if (window.scrollY >= 3) {
            elemento.classList.add("mostrar");
        } else {
            elemento.classList.remove("mostrar");
        }
    });
</script>
@functions{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSR.InvokeVoidAsync("agregarScrollListener");
           

        }
    }
    protected override async Task OnInitializedAsync()
    {
        var state = await authstate.GetAuthenticationStateAsync();
        var user = state.User;

        if (user.Identity is null || user.Identity.IsAuthenticated)
        {

            await GetCurrentUser();



            UserDataLoaded = true;
            StateHasChanged();





        }
        else
        {
            UserDataLoaded = true;
            StateHasChanged();
        }

    }

    public async Task GetCurrentUser()
    {

        var r = await userService.ConsultarUsuarioActual();
        if (r.Success == true && r.Data is not null)
        {
            UsuarioActual = r.Data;

            StateHasChanged();
        }
        else
        {
            await userService.Logout();
        }



    }

    [JSInvokable]
    public void ManejarScroll(int scrollY)
    {
        // Verificar si el scrollbar está en la parte superior
        navbarclass = (scrollY == 0) ? "navbar-container" : "mostrar";
    }

  

   
}
@code{

    public bool UserDataLoaded = true;
    public bool UserIsAuthorized = false;
    private string navbarclass = "navbar-container";
    public bool IsDarkMode { get; set; } = true ;
    private MudTheme ThemeCustom => new()
     {


            Shadows = new Shadow()
            {

                Elevation = Enumerable.Repeat("0px", 30).ToArray()
            },
            Palette = new PaletteLight
            {
                Primary = "#1D1A31",
                Secondary = "#393E46",
                Surface = "#F9F9F9 ",
                Background = "#FFFFFF ",
                Tertiary = "#164863",
                Error = "#E74646"





            },
            PaletteDark = new PaletteDark
            {

                Primary = "#f8f7f4",
                Secondary = "#f1f2f2",
                Tertiary = "#164863",
                Background = "#000000",
                Error = "#E74646",
                Surface = "#191919",






            },

            LayoutProperties = new LayoutProperties()
            {

                DefaultBorderRadius = "10px",


            },

            Typography = new Typography()
            {


                Default = new Default()
                {
                    FontFamily = new string[] { "Inter" },



                },
                Caption = new Caption()
                {
                    FontFamily = new string[]{"SourceSerif4"}
                }






            }


    };
    public UsuarioResponse UsuarioActual { get; set; } = new UsuarioResponse();

   
}