@inherits LayoutComponentBase
<MudThemeProvider   IsDarkMode=@theme.IsDark() Theme="ThemeCustom"/>
<MudDialogProvider />
<MudSnackbarProvider />
<PageTitle>MetaMusic</PageTitle>
<style>
     .meta-nav-button {
    }

       .meta-nav-button:hover {
            color: #E74646;
        }

        ::-webkit-scrollbar {
            width: 1px !important;
        border-radius: 10px !important;
        }

    .navbar-container {
        
    }

    .mostrar {
        border-bottom: 1px solid #E74646 !important;
    }

    .theme-button{

    }

    
    .nav-button{
        border-radius:10px;
    }

    .nav-button:hover{
            color: #E74646;

    }
   

    ::-webkit-scrollbar-thumb {
        width: 2px !important;
        background: #E74646 !important; /* make scrollbar transparent */
    }

 

</style>
<MudLayout>
    <MudAppBar Elevation="1"  Dense="false">
        <MudTooltip Arrow=true Color="Color.Error" Text="Ir a Inicio">
            <div @onclick='()=>{navManager.NavigateTo("/");}' style="display: flex; cursor: pointer; align-items: center; flex-direction: column;">

                @if (theme.IsDark())
                {
                    <MudImage Src="/meta-logo-white.png" Style="width: 50px; width: 50px;"></MudImage>
                }
                else
                {
                    <MudImage Src="/meta-logo.png" Style="width: 50px; width: 50px;"></MudImage>
                }

                

            </div>
        </MudTooltip>
        <MudSpacer />
        @if (theme.IsDark())
        {
            <MudTextField MaxLength="30" Immediate=true @onkeypress="HandleKeyPress" OnAdornmentClick='()=>{navManager.NavigateTo($"/search/{buscar}");}' T="string" IconSize="Size.Small" AdornmentIcon="@Icons.Material.Rounded.Search" Adornment="Adornment.Start" Style="font-size: 12px;  margin-bottom: 20px;  font-weight:  bold; width: 25vw ;background-color: #191919;   border-radius:10px; height: 30px; padding: 10px;" Variant="MudBlazor.Variant.Text" DisableUnderLine="true" Placeholder='Buscar' @bind-Value="buscar"></MudTextField>

        }
        else
        {

            
            <MudTextField MaxLength="30" Immediate=true @onkeypress="HandleKeyPress" OnAdornmentClick='()=>{navManager.NavigateTo($"/search/{buscar}");}' T="string" IconSize="Size.Small" AdornmentIcon="@Icons.Material.Rounded.Search" Adornment="Adornment.Start" Style="font-size: 12px;  margin-bottom: 20px;  font-weight:  bold; width: 25vw ;background-color: #EEEEEE;   border-radius:10px; height: 30px; padding: 10px;" Variant="MudBlazor.Variant.Text" DisableUnderLine="true" @bind-Value="buscar" Placeholder='Buscar'></MudTextField>

        }

        <AuthorizeView>
            <Authorized>
                @if (gettingUserData)
                {
                    <MudProgressCircular Indeterminate=true Color="Color.Error" Size="Size.Small"></MudProgressCircular>
                }
                else
                {

                    @if(!opendrawer)
                    {
                        <MudAvatar Style="height: 35px; width: 35px;  margin-right: 20px;" @onclick="()=>{opendrawer = !opendrawer;}"><MudImage Fluid="true" ObjectFit="ObjectFit.Cover" src="@UsuarioActual.FotoDePerfil" Style="height:100%;border-radius: 10px; width: 100%;  " /></MudAvatar>

                    }




                }
            </Authorized>
            <NotAuthorized>
                <MudButton Color="Color.Error"  Variant="Variant.Text" Style="font-size: 12px; font-weight: bold;" Target="_top" Href="googlelogin/signin-google">Iniciar Sesion</MudButton>

            </NotAuthorized>
        </AuthorizeView>
    </MudAppBar>
    
        <MudDrawer @bind-Open="@opendrawer" Anchor="Anchor.Right" ClipMode="clipMode"  PreserveOpenState="false" Elevation="1"  Variant="@DrawerVariant.Responsive">
           <MudContainer Style="margin-top: 30px; display: flex; flex-direction: column;gap: 25px;margin-bottom: 20px;">

            



            <div  style="display: flex; gap: 35px;  align-items: center; justify-content: space-between; margin-bottom: 20px;">
                <div style="display: flex; gap: 10px; ">
                    <MudAvatar Style="height: 32px; width: 32px;  "><MudImage Fluid="true" ObjectFit="ObjectFit.Cover" src="@UsuarioActual.FotoDePerfil" Style="height:100%;border-radius: 10px; width: 100%;  " /></MudAvatar>
                    <div style="display: flex; flex-direction: column;">
                        <MudText Style="font-size: 12px; font-weight: bold; opacity : 0.7; width: 80px;overflow: hidden; text-overflow: ellipsis;"> @UsuarioActual?.CorreoNormalizado</MudText>
                            <MudLink Underline="Underline.Always" Href="@($"/user/{UsuarioActual.CorreoNormalizado}")" Color="Color.Error" Style="font-size: 10px;  opacity : 0.7;">Ver Perfil</MudLink>


                        </div>
                </div>

               
                    <MudIcon Icon="@Icons.Material.Rounded.ArrowBack"  @onclick="()=>{opendrawer = !opendrawer;}" Style="width: 15px; height: 15px;cursor:pointer;" Size="Size.Small"></MudIcon>
            </div>
                <div class="nav-button" @onclick='()=>{navManager.NavigateTo("/");}' style="display: flex; gap: 15px;  align-items: center; cursor: pointer;">

                    <MudIcon Icon="@Icons.Material.Outlined.Home" Style="width: 20px; height: 20px;cursor:pointer;" Color="Color.Error" Size="Size.Small"></MudIcon>

                    <MudText Style="font-size: 12px; font-weight: bold; ">Home</MudText>

                </div>

                <AuthorizeView Roles="Staff" >
                    <Authorized >
                         <MudDivider Style="margin-top: 20px; margin-bottom: 20px;" DividerType="DividerType.FullWidth" Light=true></MudDivider>
               
                        <div   class="nav-button" style="display: flex; gap: 15px;  align-items: center; ">

                            <MudIcon Icon="@Icons.Material.Outlined.AddCircleOutline" Style="width: 20px; height: 20px;cursor:pointer;" Color="Color.Error" Size="Size.Small"></MudIcon>

                            <MudLink Underline="Underline.Hover" @onclick='()=>{navManager.NavigateTo("/crear-contenido");}' Style="font-size: 12px;  opacity : 0.7;"> Crear Contenido</MudLink>

                        </div>
                        <div  style="display: flex; gap: 15px;  align-items: center; ">

                   
                  
                                <MudIcon Icon="@Icons.Material.Outlined.Report" Style="width: 20px; height: 20px;cursor:pointer;" Size="Size.Small"></MudIcon>

               

                            <MudText Style="font-size: 12px;  opacity : 0.7;"> Reportes</MudText>
                             <MudBadge Bordered=true Visible="@hayReportes" Color="Color.Error" Dot=true  />

                        </div>
                        <div style="display: flex; gap: 15px;  align-items: center; ">



                            <MudIcon Icon="@Icons.Material.Outlined.FrontHand" Style="width: 20px; height: 20px;cursor:pointer;" Size="Size.Small"></MudIcon>



                            <MudText Style="font-size: 12px;  opacity : 0.7;">Peticiones</MudText>
                            <MudBadge Visible="@hayPeticiones" Bordered=true Color="Color.Error" Dot=true />

                        </div>
                    </Authorized>
                </AuthorizeView>
               

               <MudDivider Style="margin-top: 20px; margin-bottom: 20px;" DividerType="DividerType.FullWidth"  Light=true></MudDivider>

            <div class="nav-button" @onclick="showNotificaciones" style="display: flex; gap: 15px;  align-items: center; cursor: pointer;">

                    <MudIcon Icon="@Icons.Material.Outlined.Notifications" Style="width: 20px; height: 20px;cursor:pointer;" Size="Size.Small"></MudIcon>

                  <MudText Style="font-size: 12px;  opacity : 0.7;"> Notificaciones</MudText>
                                              <MudBadge Visible="@hayNotificaciones" Bordered=true Color="Color.Error" Dot=true />

                         
                </div>
            <div class="nav-button" style="display: flex; gap: 15px;  align-items: center; cursor:pointer; " @onclick="()=>{theme.IsDarkTheme = !theme.IsDarkTheme;}">

                    <MudIcon Icon="@(theme.IsDarkTheme ? @Icons.Material.Outlined.DarkMode : @Icons.Material.Outlined.LightMode)" Style="width: 20px; height: 20px;cursor:pointer;"  Size="Size.Small"></MudIcon>

                  <MudText Style="font-size: 12px;  opacity : 0.7;"> Activar Modo @(theme.IsDarkTheme ? "Claro" : "Oscuro") </MudText>
                         
                </div>

                <MudDivider Style="margin-top: 20px; margin-bottom: 20px;" DividerType="DividerType.FullWidth" Light=true></MudDivider>

                <div style="display: flex; gap: 15px;  align-items: center; margin-bottom: 20px; ">

                    <MudIcon  Icon="@Icons.Material.Outlined.ArrowBack" Style="width: 20px; height: 20px;cursor:pointer;" Color="Color.Error" Size="Size.Small"></MudIcon>

                    <MudLink Href="googlelogin/logout" Target="_top" Style="font-size: 12px;  opacity : 0.7;">Cerrar Sesión</MudLink>

                </div>

               
                
            </MudContainer>
          
            
           
        </MudDrawer>
        
    <MudMainContent Class="pt-16 px-16"> 
       
            @if (UserDataLoaded)
            {
                @Body
            }
      
    </MudMainContent>
</MudLayout>




   


   

      



@functions{

    DrawerClipMode clipMode = DrawerClipMode.Never;


    protected override async Task OnInitializedAsync()
    {
        UserDataLoaded = false;
        UserIsAuthorized = false;
        var state = await authstate.GetAuthenticationStateAsync();
        var user = state.User;

        if (user.Identity is null || user.Identity.IsAuthenticated)
        {

            await GetCurrentUser();


            UserIsAuthorized = true;
            UserDataLoaded = true;
            await albumService.AlbumOfTheMonthUpdate();
            await getNotificaciones();

            if(UsuarioActual.Rol.Tipo == "Staff")
            {
                await getPeticiones();

            }




        }
        else
        {
            UserDataLoaded = true;

        }
    }

    private void HandleKeyPress(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            // Llamar a tu función aquí
            navManager.NavigateTo($"/search/{buscar}");
        }
    }
    public async Task GetCurrentUser()
    {
        gettingUserData = true;
        var r = await userService.ConsultarUsuarioActual();
        if (r.Success == true && r.Data is not null)
        {
            UsuarioActual = r.Data;
            gettingUserData = false;
            await GetReportes(UsuarioActual.Id);
            StateHasChanged();
        }




    }



    [JSInvokable]
    public void ManejarScroll(int scrollY)
    {
        // Verificar si el scrollbar está en la parte superior
        navbarclass = (scrollY == 0) ? "navbar-container" : "mostrar";
    }

    public async Task GetReportes(int userid)
    {

        var r = await reporteService.Consultar(userid);

        if (r.Data is not null && r.Success)
        {
            hayReportes = true;
        }
    }

    public async Task getNotificaciones()
    {
        var r= await notificacionesService.Consultar();

        if(r.Success && r.Data is not null)
        {
            if(r.Data.Any(n => n.Saw == false))
            {
                hayNotificaciones = true;
            }
        }
        else
        {
            hayNotificaciones = false;            
        }
    }

    public async Task getPeticiones()
    {
        var r = await peticionService.ConsultarTodo();

        if(r.Data is not null)
        {
            if(r.Data.Count() >=1)
            {
                hayPeticiones = true;
            }
        }

    }

    public async Task showNotificaciones()
    {
        var options = new MudBlazor.DialogOptions() { NoHeader = true, CloseButton = false };


        await dService.ShowAsync<Pages.Common_Components.NotificationsDialog>("", options);
    }


    public async Task Logout(){


        var logoutUrl = $"https://www.google.com/accounts/Logout?continue=https://appengine.google.com/_ah/logout?continue={navManager.BaseUri}googlelogin/logout";

        // Ejecutar JavaScript para redireccionar a la URL de cierre de sesión
        await JSR.InvokeVoidAsync("eval", $"document.location.href = '{logoutUrl}';");

    }
    
   
}
@code{

    public bool gettingUserData = false;
    public bool UserDataLoaded = false;
    public bool UserIsAuthorized = false;
    private string navbarclass = "navbar-container";
    public bool IsDarkMode { get; set; } = true ;
    public bool hayReportes = false;
    public bool hayPeticiones = false;
    public string buscar = "";
    public bool opendrawer = false;
    private MudTheme ThemeCustom => new()
     {


            Shadows = new Shadow()
            {

                Elevation = Enumerable.Repeat("0px", 30).ToArray()
            },
            Palette = new PaletteLight
            {
                Primary = "#1D1A31",
                Secondary = "#393E46",
                Surface = "#F5F7F8 ",
                Background = "#FFFFFF",
                Tertiary = "#164863",
                Error = "#D04848",
                
                AppbarBackground = "#ffffff",
                DrawerBackground = "#ffffff"






            },
            PaletteDark = new PaletteDark
            {

                Primary = "#f8f7f4",
                Secondary = "#f1f2f2",
                Tertiary = "#164863",
                Background = "#000000",
                Error = "#D04848",
                Surface = "#191919",
                AppbarBackground = "#000000",
                DrawerBackground = "#000000",
                
               
                
                






            },

            LayoutProperties = new LayoutProperties()
            {

                DefaultBorderRadius = "10px",


            },

            Typography = new Typography()
            {


                Default = new Default()
                {
                    FontFamily = new string[] { "Inter" },



                },
                Caption = new Caption()
                {
                    FontFamily = new string[]{"SourceSerif4"}
                }






            }


    };
    public UsuarioResponse UsuarioActual { get; set; } = new UsuarioResponse();
    public bool hayNotificaciones { get; set; } = false;

   
}