@inherits LayoutComponentBase
<MudThemeProvider  IsDarkMode=@theme.IsDark() Theme="ThemeCustom"/>
<MudDialogProvider />
<MudSnackbarProvider />
<PageTitle>MetaMusic</PageTitle>
<style>
     .meta-nav-button {
    }

       .meta-nav-button:hover {
            color: #E74646;
        }

        ::-webkit-scrollbar {
            width: 1px !important;
        border-radius: 10px !important;
        }

    .navbar-container {
        
    }

    .mostrar {
        border-bottom: 1px solid #E74646 !important;
    }



   

    ::-webkit-scrollbar-thumb {
        width: 2px !important;
        background: #E74646 !important; /* make scrollbar transparent */
    }

 

</style>

 
    
        <div style="width: 100%;">
              <MudContainer Class="@navbarclass" id="navbar" md="12" sm="12" xs="12" xxl="12" lg="12" xl="12" Style="@($""" {(theme.IsDark() ? "background-color:#000000;" : "background-color:#ffffff;")}; z-index: 10;  gap: 10px; position: sticky;z-index: 10;height: 80px; display: flex; justify-content: space-between; max-width: 100%;top: 0;""")">

          
                  
                    <MudTooltip Arrow=true Color="Color.Error" Text="Ir a Inicio">
                        <div @onclick='()=>{navManager.NavigateTo("/");}' style="display: flex; cursor: pointer; align-items: center; flex-direction: column;">

                            @if (theme.IsDark())
                            {
                                <MudImage Src="/meta-logo-white.png" Style="width: 50px; width: 50px;"></MudImage>
                            }
                            else
                            {
                                <MudImage Src="/meta-logo.png" Style="width: 50px; width: 50px;"></MudImage>
                            }

                            <MudText Style="font-size: 10px; font-weight: bold;">M E T A M U S I C</MudText>
                        </div>
                    </MudTooltip>
                    
                  
                    <div style="display: flex; align-items: center;  gap : 17px;">


                      

                        <AuthorizeView>


                            <Authorized>

                                 @if(gettingUserData)
                                {
                                    <MudProgressCircular Indeterminate=true Color="Color.Error" Size="Size.Small"></MudProgressCircular>
                                }
                                else
                                {
                                     <MudMenu  AnchorOrigin="Origin.BottomLeft"  TransformOrigin="Origin.TopCenter">

                                    <ActivatorContent>

                                       
                                            <MudAvatar Style="height: 35px; width: 35px;  margin-right: 20px;"><MudImage Fluid="true" ObjectFit="ObjectFit.Cover" src="@UsuarioActual.FotoDePerfil" Style="height:100%;border-radius: 10px; width: 100%;  " /></MudAvatar>

                                        

                                    </ActivatorContent>
                                    <ChildContent>

                                        <MudPaper Style="border-radius: 10px;" Outlined=true>
                                            <BlazorAnimation.Animation Style="z-index: 999999; position: static; border-radius: 10px;  " Effect="BlazorAnimation.Effect.FadeIn" Speed="BlazorAnimation.Speed.Faster">


                                                <MudContainer Style="max-height: 80vh; overflow: auto; margin-top: 10px;margin-bottom: 10px;min-width: 220px; border-radius: 10px; ">


                                                    <MudText Align="Align.Center" Style="font-size: 12px; opacity: 0.7; ">Opciones</MudText>
                                                    <MudDivider Class="mb-3 mt-3"></MudDivider>
                                                    <MudMenuItem @onclick='()=>{navManager.NavigateTo($"/user/{ UsuarioActual.CorreoNormalizado}");}' Style="border-radius: 10px;">
                                                        <div style="display:flex; justify-content: space-between; align-items: center;">
                                                            <MudText Style="font-size: 12px;   ">Ver perfil</MudText>
                                                            <MudIcon Color="Color.Primary" Style="height:  15px; width: 15px;" Size="Size.Small" Icon="@Icons.Material.Rounded.Person"></MudIcon>
                                                        </div>

                                                    </MudMenuItem>
                                                    <MudMenuItem Style="border-radius: 10px;">
                                                        <div style="display:flex; justify-content: space-between; align-items: center;">
                                                            <MudText Style="font-size: 12px;   ">Notificaciones</MudText>
                                                            <MudIcon Color="Color.Primary" Style="height:  15px; width: 15px;" Size="Size.Small" Icon="@Icons.Material.Rounded.Notifications"></MudIcon>
                                                        </div>

                                                    </MudMenuItem>

                                                    <AuthorizeView Context="menuextra" Roles="Staff">
                                                        <Authorized >
                                                                     <MudDivider Class="mb-3 mt-3"></MudDivider>
                                                                <MudText Align="Align.Center" Style="font-size: 12px; opacity: 0.7; ">Staff Options</MudText>
                                                                <MudDivider Class="mb-3 mt-3"></MudDivider>
                                                                <MudMenuItem @onclick='()=>{navManager.NavigateTo("/crear-contenido");}' Style="border-radius: 10px;">


                                                                    <div style="display:flex; justify-content: space-between; align-items: center;border-radius: 9px;">
                                                                        <MudText Color="Color.Error" Style="font-size: 12px;   ">Crear Contenido</MudText>
                                                                        <MudIcon Color="Color.Error" Style="height:  15px; width: 15px;" Size="Size.Small" Icon="@Icons.Material.Rounded.Add"></MudIcon>
                                                                    </div>




                                                                </MudMenuItem>
                                                                <MudMenuItem Disabled=true Style="border-radius: 10px;">
                                                                    <div style="display:flex; justify-content: space-between; align-items: center;">
                                                                        <MudText Style="font-size: 12px;   ">Peticiones</MudText>
                                                                        <MudIcon Color="Color.Primary" Style="height:  15px; width: 15px;" Size="Size.Small" Icon="@Icons.Material.Rounded.NewReleases"></MudIcon>
                                                                    </div>

                                                                </MudMenuItem>
                                                                <MudMenuItem Disabled=true Style="border-radius: 10px;">
                                                                    <div style="display:flex; justify-content: space-between; align-items: center;">
                                                                        <MudText Style="font-size: 12px;   ">Reportes</MudText>
                                                                        <MudBadge Color="Color.Error" Overlap="true" Visible=hayReportes Bordered="true" Dot=true>
                                                                                                                                            <MudIcon Color="Color.Primary" Style="height:  15px; width: 15px;" Size="Size.Small" Icon="@Icons.Material.Rounded.Flag"></MudIcon>

                                                                        </MudBadge>
                                                                    </div>

                                                                </MudMenuItem>
                                                        </Authorized>
                                                       
                                                    </AuthorizeView>
                                                   
                                                        
                                                    


                                                    <MudDivider Class="mb-3 mt-3"></MudDivider>
                                                    <MudMenuItem Style="border-radius: 10px; " Class="meta-nav-button">
                                                        <div style="border-radius: 10px; display: flex; align-items: center; justify-content: space-between;">
                                                    <MudLink Href="googlelogin/logout" Target="_top" Underline="Underline.None" Style="font-size: 12px;   " Class="meta-nav-button">Cerrar Sesion</MudLink>
                                                            <MudIcon Color="Color.Error" Style="height:  15px; width: 15px;" Size="Size.Small" Icon="@Icons.Material.Rounded.ArrowBack"></MudIcon>

                                                        </div>

                                                    </MudMenuItem>


                                                </MudContainer>



                                            </BlazorAnimation.Animation>
                                        </MudPaper>
                                      

                                    </ChildContent>






                                </MudMenu>                                    
                                }
                               
                               
                            </Authorized>
                            <NotAuthorized>
                    <MudButton Color="Color.Error" Target="_top" Variant="Variant.Text" Style="font-size: 12px; font-weight: bold;" Href="googlelogin/signin-google" >Iniciar Sesion</MudButton>

                            </NotAuthorized>

                        </AuthorizeView>

                        @if (theme.IsDark())
                        {
                               <MudTextField MaxLength="30" OnAdornmentClick='()=>{navManager.NavigateTo($"/search/{buscar}");}' T="string" IconSize="Size.Small" AdornmentIcon="@Icons.Material.Rounded.Search" Adornment="Adornment.Start" Style="font-size: 12px;  margin-bottom: 20px;  font-weight:  bold; width: 25vw ;background-color: #191919;   border-radius:10px; height: 30px; padding: 10px;" Variant="MudBlazor.Variant.Text" DisableUnderLine="true" Placeholder='Buscar' @bind-Value="buscar"></MudTextField>

                        }
                        else
                        {
                           <MudTextField MaxLength="30" OnAdornmentClick='()=>{navManager.NavigateTo($"/search/{buscar}");}' T="string" IconSize="Size.Small" AdornmentIcon="@Icons.Material.Rounded.Search" Adornment="Adornment.Start" Style="font-size: 12px;  margin-bottom: 20px;  font-weight:  bold; width: 25vw ;background-color: #EEEEEE;   border-radius:10px; height: 30px; padding: 10px;" Variant="MudBlazor.Variant.Text" DisableUnderLine="true" @bind-Value="buscar" Placeholder='Buscar'></MudTextField>
                            
                        }
                       
                       
                    </div>

              
               
            </MudContainer>





              <MudContainer Style="margin-top: 2em; width: 100%; ">
        
                  
                    @if(UserDataLoaded)
                    {
                        @Body
                    }
                  
              


            </MudContainer>

            

        </div>
       
   

   


   

      



@functions{

   
    protected override async Task OnInitializedAsync()
    {
        UserDataLoaded = false;
        UserIsAuthorized = false;
        var state = await authstate.GetAuthenticationStateAsync();
        var user = state.User;

        if (user.Identity is null || user.Identity.IsAuthenticated)
        {

            await GetCurrentUser();


            UserIsAuthorized = true;
            UserDataLoaded = true;
            await albumService.AlbumOfTheMonthUpdate();





        }
        else
        {
            UserDataLoaded = true;

        }
    }
    public async Task GetCurrentUser()
    {
        gettingUserData = true;
        var r = await userService.ConsultarUsuarioActual();
        if (r.Success == true && r.Data is not null)
        {
            UsuarioActual = r.Data;
            gettingUserData = false;
            await GetReportes(UsuarioActual.Id);
            StateHasChanged();
        }




    }

    

    [JSInvokable]
    public void ManejarScroll(int scrollY)
    {
        // Verificar si el scrollbar está en la parte superior
        navbarclass = (scrollY == 0) ? "navbar-container" : "mostrar";
    }

    public async Task GetReportes(int userid)
    {

        var r = await reporteService.Consultar(userid);

        if (r.Data is not null && r.Success)
        {
            hayReportes = true;
        }
    }

   
}
@code{

    public bool gettingUserData = false;
    public bool UserDataLoaded = false;
    public bool UserIsAuthorized = false;
    private string navbarclass = "navbar-container";
    public bool IsDarkMode { get; set; } = true ;
    public bool hayReportes = false;
    public string buscar = "";
    private MudTheme ThemeCustom => new()
     {


            Shadows = new Shadow()
            {

                Elevation = Enumerable.Repeat("0px", 30).ToArray()
            },
            Palette = new PaletteLight
            {
                Primary = "#1D1A31",
                Secondary = "#393E46",
                Surface = "#FDFDFD ",
                Background = "#FFFFFF ",
                Tertiary = "#164863",
                Error = "#E74646"





            },
            PaletteDark = new PaletteDark
            {

                Primary = "#f8f7f4",
                Secondary = "#f1f2f2",
                Tertiary = "#164863",
                Background = "#000000",
                Error = "#E74646",
                Surface = "#191919",






            },

            LayoutProperties = new LayoutProperties()
            {

                DefaultBorderRadius = "10px",


            },

            Typography = new Typography()
            {


                Default = new Default()
                {
                    FontFamily = new string[] { "Inter" },



                },
                Caption = new Caption()
                {
                    FontFamily = new string[]{"SourceSerif4"}
                }






            }


    };
    public UsuarioResponse UsuarioActual { get; set; } = new UsuarioResponse();

   
}