@inherits LayoutComponentBase
<MudThemeProvider  IsDarkMode=@IsDarkMode Theme="ThemeCustom"/>
<MudDialogProvider />
<MudSnackbarProvider />
<PageTitle>MetaMusic</PageTitle>
<style>
     .meta-nav-button {
    }

       .meta-nav-button:hover {
            color: #E74646;
        }

        ::-webkit-scrollbar {
    width: 1px;
    border-radius: 10px;
}

    .navbar-container {
        
    }

    .mostrar {
        border-bottom: 1px solid #E74646;
    }



   

    ::-webkit-scrollbar-thumb {
        width: 2px;
        background: #E74646; /* make scrollbar transparent */
    }

    ::-webkit-scrollbar-thumb {
        width: 2px;
        border-radius: 10px;
        background: #E74646; /* make scrollbar transparent */
    }


</style>
<div style="     width: calc( 100vw - 14px); ">
 
    <MudItem>
        <MudGrid>
            <MudItem md="12" sm="12" xs="12" xxl="12" lg="12" xl="12" Style="@($""" {(IsDarkMode ? "background-color:#000000;" : "background-color:#ffffff;")}; z-index: 10;""")">

                <MudContainer id="navbar" Class="@navbarclass" Style="@($""" {(IsDarkMode ? "background-color:#000000;" : "background-color:#ffffff;")}; z-index: 10;height: 80px; display: flex; justify-content: space-between; max-width: 100%; gap: 10px;position: fixed;""")">
                    <div style="display: flex; align-items: center; flex-direction: column;">

                        @if(IsDarkMode)
                        {
                            <MudImage Src="/meta-logo-white.png" Style="width: 50px; width: 50px;"></MudImage>
                        }
                        else
                        {
                            <MudImage Src="/meta-logo.png" Style="width: 50px; width: 50px;"></MudImage>
                        }
                     
                        <MudText Style="font-size: 10px; font-weight: bold;">M E T A M U S I C</MudText>
                    </div>
                    <div style="display: flex; align-items: center;  gap : 17px;">


                      

                        <AuthorizeView>
                            <Authorized>

                                @if (UserDataLoaded)
                                {
                                    <MetaMusic.Pages.Common_Components.Profile></MetaMusic.Pages.Common_Components.Profile>
                                }
                                else
                                {
                                    <MudProgressCircular Size="Size.Small" Color="Color.Error" Indeterminate="true"></MudProgressCircular>
                                }

                            </Authorized>
                            <NotAuthorized>
                                <MudChip Color="Color.Error" Target="_top" Style="font-size: 12px; font-weight: bold;" Href="/google-login" Text="Iniciar Sesion"></MudChip>

                            </NotAuthorized>

                        </AuthorizeView>
                        <MudText Class="meta-nav-button" @onclick='()=>{navManager.NavigateTo("/");}' Style="font-size: 13px; font-weight: bold; cursor:pointer;">HOME</MudText>

                        @if(IsDarkMode)
                        {
                            <MudTextField MaxLength="30" T="string" IconSize="Size.Small" AdornmentIcon="@Icons.Material.Rounded.Search" Adornment="Adornment.Start" Style="font-size: 12px;  margin-bottom: 20px;  font-weight:  bold; width: 25vw ;background-color: #191919;   border-radius:10px; height: 30px; padding: 10px;" Variant="MudBlazor.Variant.Text" DisableUnderLine="true" Placeholder='Buscar'></MudTextField>

                        }
                        else
                        {
                                                    <MudTextField MaxLength="30" T="string" IconSize="Size.Small" AdornmentIcon="@Icons.Material.Rounded.Search" Adornment="Adornment.Start" Style="font-size: 12px;  margin-bottom: 20px;  font-weight:  bold; width: 25vw ;background-color: #EEEEEE;   border-radius:10px; height: 30px; padding: 10px;" Variant="MudBlazor.Variant.Text" DisableUnderLine="true" Placeholder='Buscar'></MudTextField>
                            
                        }
                        @if (IsDarkMode)
                        {
                            <MudIcon Size="Size.Small" Style="cursor: pointer;" @onclick="()=>{IsDarkMode = !IsDarkMode; theme.SetDarkTheme(IsDarkMode);}" Icon="@Icons.Material.Filled.WbSunny" Color="Color.Error"></MudIcon>
                        }
                        else
                        {
                            <MudIcon Size="Size.Small" Style="cursor: pointer;" @onclick="()=>{IsDarkMode = !IsDarkMode; theme.SetDarkTheme(IsDarkMode);}" Icon="@Icons.Material.Rounded.NightlightRound" Color="Color.Error"></MudIcon>
                        }
                       
                    </div>

                </MudContainer>
               
            </MudItem>

            



            <MudItem md="12" sm="12" xs="12" xxl="12" lg="12" xl="12" Style="margin-top: 4em; ">
                <MudContainer >
                  
                    @if(UserDataLoaded)
                    {
                        @Body
                    }
                  
                </MudContainer>


            </MudItem>

            

        </MudGrid>
       
    </MudItem>

   


   

      
</div>

<script>
    document.addEventListener("scroll", function () {
        var elemento = document.getElementById("navbar");

        // Verificar si el scrollbar está en la parte superior
        if (window.scrollY >= 3) {
            elemento.classList.add("mostrar");
        } else {
            elemento.classList.remove("mostrar");
        }
    });
</script>
@functions{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSR.InvokeVoidAsync("agregarScrollListener");
            var state = await authstate.GetAuthenticationStateAsync();
            var user = state.User;

            if (user.Identity is null || user.Identity.IsAuthenticated)
            {



                UserDataLoaded = true;

                StateHasChanged();


            }
            else
            {
                UserDataLoaded = true;

            }

        }
    }






    [JSInvokable]
    public void ManejarScroll(int scrollY)
    {
        // Verificar si el scrollbar está en la parte superior
        navbarclass = (scrollY == 0) ? "navbar-container" : "mostrar";
    }

    protected override async Task OnInitializedAsync()
    {
       
        var state = await authstate.GetAuthenticationStateAsync();
        var user = state.User;

        if (user.Identity is null || user.Identity.IsAuthenticated)
        {



            UserDataLoaded = true;

            StateHasChanged();


        }
        else
        {
            UserDataLoaded = true;

        }

    }

    public async Task GetCurrentUser()
    {

        var r = await userService.ConsultarUsuarioActual();
        if(r.Success == true && r.Data is not null)
        {
            UsuarioActual = r.Data;
           
            StateHasChanged();
        }
      


    }
}
@code{

    public bool UserDataLoaded = false;

    private string navbarclass = "navbar-container";
    public bool IsDarkMode { get; set; } = true ;
    private MudTheme ThemeCustom => new()
     {


            Shadows = new Shadow()
            {

                Elevation = Enumerable.Repeat("0px", 30).ToArray()
            },
            Palette = new PaletteLight
            {
                Primary = "#1D1A31",
                Secondary = "#393E46",
                Surface = "#F9F9F9 ",
                Background = "#FFFFFF ",
                Tertiary = "#164863",
                Error = "#E74646"





            },
            PaletteDark = new PaletteDark
            {

                Primary = "#f8f7f4",
                Secondary = "#f1f2f2",
                Tertiary = "#164863",
                Background = "#000000",
                Error = "#E74646",
                Surface = "#191919",






            },

            LayoutProperties = new LayoutProperties()
            {

                DefaultBorderRadius = "10px",


            },

            Typography = new Typography()
            {


                Default = new Default()
                {
                    FontFamily = new string[] { "Inter" },



                },
                Caption = new Caption()
                {
                    FontFamily = new string[]{"SourceSerif4"}
                }






            }


    };
    public UsuarioResponse UsuarioActual { get; set; } = new UsuarioResponse();

   
}