
    <div style="display: flex; flex-direction: column;  gap: 20px; align-items: center; justify-content: center; margin-bottom: 20px;">
    
            <MudAvatar Class="calification-card" Size="Size.Large" Variant="Variant.Outlined" Style="font-weight: bold; width: 100px; height: 100px; font-size: 20px;">
                @promedio
            </MudAvatar>
        
        <div style="display: flex; flex-direction: column;  gap: 20px; align-items: center; justify-content: center;">
            <div style="display: flex; gap: 20px; align-items: center;">
                <span style="font-size: 12px; font-weight: bold;color: #E74646;">@calificaciones.Where(c => c.Numero <= 10 && c.Numero >= 7).Count()</span>
                <MudText Style="font-size: 12px; font-weight: bold"> criticas positivas (10 - 7)</MudText>
            </div>

            @if (calificaciones.Where(c => c.Numero <= 10 && c.Numero >= 7).Count() >= 1)
            {

            <MudProgressLinear Color="Color.Success" Rounded="true" Size="Size.Small" Value="@(calificaciones.Where(c => c.Numero <= 10 && c.Numero >= 7).Count()   *  100 / calificaciones.Count())" />
            }
            else
            {

            <MudProgressLinear Color="Color.Success" Rounded="true" Size="Size.Small" Value="0" />

            }
       
            <div style="display: flex; gap: 20px; align-items: center;">
            <span style="font-size: 12px; font-weight: bold;color: #E74646;">@calificaciones.Where(c => c.Numero <= 6 && c.Numero >= 4).Count()</span>
                <MudText Style="font-size: 12px; font-weight: bold">  criticas neutrales (6 - 4)</MudText>

          
            </div>
                 @if (calificaciones.Where(c => c.Numero <= 6 && c.Numero >= 4).Count() >=1)
                {
                    <MudProgressLinear Color="Color.Warning" Rounded="true" Size="Size.Small" Value="@(calificaciones.Where(c => c.Numero <= 6 && c.Numero >= 4).Count() *  100 / calificaciones.Count())" />

                }
                else
                {
                    <MudProgressLinear Color="Color.Warning" Rounded="true" Size="Size.Small" Value="0" />

                }
            <div style="display: flex; gap: 20px; align-items: center;">
            <span style="font-size: 12px; font-weight: bold;color: #E74646;">@calificaciones.Where(c => c.Numero <= 3 && c.Numero >= 0).Count()</span>
            <MudText Style="font-size: 12px; font-weight: bold">  criticas negativas (3 - 0)</MudText>
            </div>
             @if (calificaciones.Where(c => c.Numero <= 3 && c.Numero >= 0).Count() >= 1)
            {
                              <MudProgressLinear Color="Color.Error" Rounded="true" Size="Size.Small" Value="@(calificaciones.Where(c => c.Numero <= 3 && c.Numero >= 0).Count() *  100 / calificaciones.Count())" />

            }
            else
            {
            <MudProgressLinear Color="Color.Error" Rounded="true" Size="Size.Small" Value="0" />

            }
        </div>
        

    
       

       
    </div>


@code {

    [Parameter] public List<CalificacionResponse> calificaciones { get; set; } = new List<CalificacionResponse>();
    [Parameter] public double promedio { get; set; } = 0.0;
}
