<MudItem Style="margin-top: 60px;">
   
       
            <div style="height: 50px;display: flex; flex-direction: column; gap: 10px; width: 100%; align-items: center; justify-content: center; margin-bottom: 60px; ">

                <MudText Style="font-size: 20px; font-weight: bold;">ALBUM REVIEW</MudText>
                <div Style="border: solid 1px red; height: 2px; width: 40px;"></div>





            </div>
            <MudGrid Justify="Justify.Center" Style="margin-top: 60px; display: flex; align-items: center; align-items: center; justify-content: center; gap: 20px;">


                <MudItem md="5" lg="5" xxl="5" xl="5" sm="12" xs="12">


                    <MudText Style="font-size: 50px; font-family: SourceSerif4;  " Align="Align.Center">“@Request.Nombre”</MudText>
                    @if(Request.Artistas.Count() >= 3)
                    {
                         <MudText Style="font-size: 30px; font-family: SourceSerif4;  " Align="Align.Center">Varios Artistas</MudText>
                    }
                    else if((Request.Artistas.Count() == 2))
                    {
                       <MudText Style="font-size: 30px; font-family: SourceSerif4;  " Align="Align.Center">@Request.Artistas[0].Artista?.Nombre, @Request.Artistas[1].Artista?.Nombre </MudText>
        
                    }
                    else 
                    {
                        <MudText Style="font-size: 30px; font-family: SourceSerif4;  " Align="Align.Center">@Request.Artistas[0].Artista?.Nombre</MudText>

                    }

                    @if (@Request.Fecha_Publicacion.Length >= 4)
                    {
                       <MudText Style="font-size: 12px; margin-top: 25px; font-weight: bold;  " Align="Align.Center"><b>@Request.Fecha_Publicacion.Substring(0,4)</b></MudText>

                    }
                </MudItem>

                <MudItem md="4" lg="4" xxl="4" Class="container" xl="4" sm="12" xs="12" Style=" display: flex; flex-direction: column; align-items: center; align-items: center; justify-content: center; gap: 15px;">

                    <MudAvatar Square=true Rounded=false Style="height: 250px; width: 250px;">
                        <MudImage src="@Request.Portada" />
                    </MudAvatar>
                    


                </MudItem>


            </MudGrid>
            <div style="display:flex; align-items: center; justify-content: center;margin-top: 20px; margin-bottom: 20px;">
                <MudDivider DividerType="DividerType.Middle" Style=" width: 50%; "></MudDivider>

            </div>
             <MudText Style="font-size: 20px; font-weight: bold;  opacity: 0.8; margin-top: 30px; margin-bottom: 30px;" Align="Align.Center" Color="Color.Secondary">CALIFICA ESTE ALBUM </MudText>
            <MudContainer Style="display: flex; flex-wrap: wrap; justify-content: center; align-items: center; gap: 25px; ">
           
                @foreach (var numero in rate)
                {
                    <MudAvatar @onclick="()=>{newCalificacion.Numero = numero;}" Variant=" Variant.Outlined" Style="@($"""{(newCalificacion.Numero == numero ? "border: dashed 2px red;" : "")}height: 50px; width: 50px; cursor: pointer;""")">
                        @numero
                    </MudAvatar>

                }
                
            </MudContainer>
         
            <MudDivider Style="margin-top: 30px; margin-bottom: 30px;"></MudDivider>
        <MudContainer>
            <MudGrid Justify="Justify.SpaceBetween" Spacing="2" Style="margin-top: 60px; ">
                <MudItem md="6" lg="6" xxl="6" xl="6" sm="12" xs="12" Style="display: flex; flex-direction: column;gap: 20px;">

                    <MudTextField AutoGrow=true T="string" @bind-Value="newReview.Titulo" Immediate=true MaxLength="100" Counter="100" Variant="MudBlazor.Variant.Text" Style="font-size: 20px; font-family: SourceSerif4; font-size: 20px; " Placeholder="Titulo de la review (Obligatorio)" DisableUnderLine=true></MudTextField>
                    <MudTextField @bind-Value="newReview.Contenido" AutoGrow=true T="string" MaxLength="1500" Counter="1500" Immediate=true Variant="MudBlazor.Variant.Text" Style="font-family: SourceSerif4; font-size: 18px; opacity: 0.7;  " Placeholder="Cuerpo de la critica (Obligatorio)" DisableUnderLine=true></MudTextField>
                
                   

                   
                </MudItem>
                <MudItem md="4" lg="4" xxl="4" xl="4" sm="12" xs="12" Style="@($""" {(vermas ? "max-height: auto; " : "max-height: 400px;"  )} display: flex; flex-direction: column; gap: 20px; overflow: hidden; """)">


                    <div style="display: flex; gap: 20px;align-items: center; justify-content: center;   top: 0;">
                        <MudText Style="font-size: 12px; font-weight: bold;  opacity: 0.8; " Align="Align.Center" Color="Color.Secondary">@Request.Tracks.Count() TRACKS </MudText>
                        <MudText @onclick="()=>{vermas = !vermas;}" Style="font-size: 10px; cursor: pointer;" Color="Color.Error">
                            @(vermas ? "Ver Menos" : "Ver Mas")
                        </MudText>
                    </div>

                    <MudGrid>
                        @foreach (var track in Request.Tracks)
                        {
                            <MudItem md="12" lg="12" xxl="12" xl="12" sm="12" xs="12">
                                <MetaMusic.Pages.Common_Components.TrackComponent track="track" DisableLikeButton=true ></MetaMusic.Pages.Common_Components.TrackComponent>

                            </MudItem>
                        }

                    </MudGrid>








                </MudItem>

            </MudGrid>
            <div style="margin-top: 60px; display: flex; justify-content: center;">
                 <MudChip Style="font-size: 12px;" Disabled="@(string.IsNullOrEmpty(newReview.Titulo) || string.IsNullOrEmpty(newReview.Contenido) )" @onclick="async ()=>{await Crear();}" Color="Color.Error">Crear Review</MudChip>

            </div>
        </MudContainer>


</MudItem>
@functions{

    public async Task Crear()
    {
        var r = await albumService.Crear(Request, newCalificacion, newReview);

        if(r.Success == true && r.Data  is not null)
        {
            navManager.NavigateTo($"/album/{r.Data.IdSpotify}");
        }
        else
        {
            await MessageBoxOk("Error", $"{r.Message}", "Ok");
        }
    }
}
@code {
    [Parameter] public MetaMusic.Data.Request.AlbumRequest Request { get; set; } = new MetaMusic.Data.Request.AlbumRequest();
    public ReviewRequest newReview = new ReviewRequest();
    
    

    public CalificacionRequest newCalificacion = new CalificacionRequest();
    public int ratenumber = 0;
    public List<int> rate = new List<int>() { 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10 };
    
    public bool vermas = false;
 
    private async Task<bool?> MessageBoxOk(string Titulo, string Descripcion, string si)
    {
        bool? result = await dService.ShowMessageBox(
            Titulo,
            Descripcion,
            yesText: si);
        StateHasChanged();
        return result;

    }
}
