

@if(userfound)
{
    <div style="margin-top: 60px;height: 50px;display: flex; flex-direction: column; gap: 10px; width: 100%; align-items: center; justify-content: center; margin-bottom: 60px; ">

        <MudText Style="font-size: 20px; font-weight: bold;">@(IsEditing ? "EDITANDO SINGLE" : "CREANDO SINGLE")</MudText>
        <div Style="border: solid 1px red; height: 2px; width: 40px;"></div>





    </div>
    <MudGrid Justify="Justify.Center" Style="margin-top: 60px; display: flex; align-items: center; align-items: center; justify-content: center; gap: 20px;">


        <MudItem md="5" lg="5" xxl="5" xl="5" sm="12" xs="12">


            <MudText Style="font-size: 50px; font-family: SourceSerif4;  " Align="Align.Center">“@Request.Nombre”</MudText>
            @if (Request.Artistas.Count() >= 3)
            {
                <MudText Style="font-size: 30px; font-family: SourceSerif4;  " Align="Align.Center">Varios Artistas</MudText>
            }
            else if ((Request.Artistas.Count() == 2))
            {
                <MudText Style="font-size: 30px; font-family: SourceSerif4;  " Align="Align.Center">@Request.Artistas[0].Artista?.Nombre, @Request.Artistas[1].Artista?.Nombre </MudText>

            }
            else
            {
                <MudText Style="font-size: 30px; font-family: SourceSerif4;  " Align="Align.Center">@Request.Artistas[0].Artista?.Nombre</MudText>

            }

            @if (@Request.Fecha_Publicacion.Length >= 4)
            {
                <MudText Style="font-size: 12px; margin-top: 25px; font-weight: bold;  " Align="Align.Center"><b>@Request.Fecha_Publicacion.Substring(0, 4)</b></MudText>

            }
        </MudItem>

        <MudItem md="4" lg="4" xxl="4" Class="container" xl="4" sm="12" xs="12" Style=" display: flex; flex-direction: column; align-items: center; align-items: center; justify-content: center; gap: 15px;">

            <MudAvatar Square=true Rounded=false Style="height: 250px; width: 250px;">
                <MudImage src="@Request.Portada" />
            </MudAvatar>
              
                <div Style=" display: flex; align-items: center; align-items: center; justify-content: center; gap: 15px;">
                   

                        <MudTooltip Arrow="true" Text="Se enlazará el single al album base si lo encuentra">

                            <MudIconButton @onclick="()=>{enlazarAlbum = !enlazarAlbum;}" Style="font-size: 12px; font-weight: bold; " Color="@(enlazarAlbum ? Color.Error : Color.Inherit)" Icon="@(enlazarAlbum ? @Icons.Material.Rounded.InsertLink : @Icons.Material.Rounded.LinkOff)" DisableElevation=true></MudIconButton>

                        </MudTooltip>
                    
                <MudTooltip Arrow="true" Text="Establecer single como Must Listen">
                    <MudIconButton @onclick="()=>{Request.IsMustListen = !Request.IsMustListen;}" Style="font-size: 12px; font-weight: bold; " Color="@(Request.IsMustListen ? Color.Error : Color.Inherit)" Icon="@Icons.Material.Rounded.AutoAwesome" DisableElevation=true></MudIconButton>

                </MudTooltip>
                </div>
              


        </MudItem>


    </MudGrid>
    <div style="display:flex; align-items: center; justify-content: center;margin-top: 40px; margin-bottom: 40px;">
        <MudDivider DividerType="DividerType.Middle" Style=" width: 50%; "></MudDivider>

    </div>


    <MudGrid Justify="Justify.SpaceAround" Spacing="2" Style="margin-top: 60px; ">
        <MudItem md="5" lg="5" xxl="5" xl="5" sm="12" xs="12" Style="display: flex; flex-direction: column;gap: 20px;">


            <MudTextField AutoGrow=true T="string" @bind-Value="newReview.Titulo" Immediate=true MaxLength="100" Variant="MudBlazor.Variant.Text" Style="font-size: 20px; font-family: SourceSerif4; font-size: 20px; " Placeholder="Titulo de la review (Obligatorio)" DisableUnderLine=true></MudTextField>


            <MudTextField @bind-Value="newReview.Contenido" T="string" MaxLength="3000"  Variant="MudBlazor.Variant.Text" Style="font-family: SourceSerif4; font-size: 18px; opacity: 0.7;  margin-bottom: 20px;" AutoGrow=true Placeholder="Cuerpo de la critica (Obligatorio)"></MudTextField>







        </MudItem>
        <MudItem md="4" lg="4" xxl="4" xl="4" sm="12" xs="12">

         










        </MudItem>

    </MudGrid>


    <div style="display: flex; justify-content: center; align-items: center; width: 100%;">
        <MudDivider Style="margin-top: 20px; margin-bottom: 20px; width: 50%;" DividerType="DividerType.Middle"></MudDivider>

    </div>
   

    <MudContainer Style="  display: flex; align-items: center; justify-content: center; margin-top: 20px; flex-wrap: wrap; gap: 20px;">
        @if (IsEditing)
        {
            <MudButton Variant="MudBlazor.Variant.Text" Color="Color.Error" Style="font-size: 13px;font-weight: bold; margin-bottom: 15px; cursor: pointer; " @onclick="async ()=>{await Edit();}" Disabled="@(string.IsNullOrEmpty(newReview.Titulo) || string.IsNullOrEmpty(newReview.Contenido) )">
                @if (CreandoAlbum)
                {
                    <MudText Style="font-size: 13px;font-weight: bold;">GUARDANDO CAMBIOS</MudText>
                }
                else
                {
                    <MudText Style="font-size: 13px;font-weight: bold;">GUARDAR CAMBIOS</MudText>
                }
            </MudButton>
            <MudButton Variant="MudBlazor.Variant.Text" Style="font-size: 13px;font-weight: bold; margin-bottom: 15px; cursor: pointer; " @onclick='()=>{navManager.NavigateTo($"/single/{Request.IdSpotify}", true);}'> Cancelar</MudButton>

        }
        else
        {
            <MudButton Variant="MudBlazor.Variant.Text" Color="Color.Error" Style="font-size: 13px;font-weight: bold; margin-bottom: 15px; cursor: pointer; " @onclick="async ()=>{await Crear();}" Disabled="@(string.IsNullOrEmpty(newReview.Titulo) || string.IsNullOrEmpty(newReview.Contenido) )">
                @if (CreandoAlbum)
                {
                     <MudText Style="font-size: 13px;font-weight: bold;">CREANDO REVIEW</MudText>
                }
                else
                {
                    <MudText Style="font-size: 13px;font-weight: bold;">Guardar Review</MudText>
                }
            </MudButton>
            <MudButton Variant="MudBlazor.Variant.Text" Style="font-size: 13px;font-weight: bold; margin-bottom: 15px; cursor: pointer; " @onclick='()=>{navManager.NavigateTo("/crear-contenido", true);}'> Cancelar</MudButton>

        }

    </MudContainer>

}
else
{
    <Loader></Loader>
}

   

@functions{

    public async Task getUsuarioActual()
    {
        userfound = false;
        var r = await userService.ConsultarUsuarioActual();

        if(r.Data is not null)
        {
            UsuarioActual = r.Data;
        }
        else
        {
            MostrarNotificacion("Error", $"No pudimos encontrar tu usuario");            
        }
        userfound = true;
    }
    public async Task Edit()
    {
        CreandoAlbum = true;
        if (enlazarAlbum == false)
            Request.Reference = 0;
        var r = await albumService.ModificarSingle(Request, newReview, enlazarAlbum);

        if (r.Success == true)
        {
            navManager.NavigateTo($"/single/{Request.IdSpotify}", true);
            MostrarNotificacion("Review Modificada exitosamente", $"Se ha creado la review de forma exitosa");


        }
        else
        {
            CreandoAlbum = false;
            MostrarNotificacion("Error", $"Se ha producido un error modificando la review, intenta denuevo.");
        }
    }
    protected override void OnInitialized()
    {

        newReview = Request.Review!.ToRquest();
    }

    protected override async Task OnInitializedAsync()
    {

        await getUsuarioActual();
        enlazarAlbum = Request.Reference != 0;
        StateHasChanged();



    }
    public async Task Crear()
    {
        CreandoAlbum = false;

        if (enlazarAlbum == false)
             Request.Reference = 0;
        var r = await albumService.CrearSingle(Request, newReview, enlazarAlbum);

        if(r.Success == true && r.Data  is not null)
        {
            MostrarNotificacion(r.Data, "Review creado exitosamente", $"Se ha creado la review {r.Data.Nombre} de forma exitosa");
            
            navManager.NavigateTo("/");
        }
        else
        {
            await MessageBoxOk("Error", $"{r.Message}", "Ok");
        }
        CreandoAlbum = false;
    }

    private async Task<bool?> MessageBoxOk(string Titulo, string Descripcion, string si)
    {
        bool? result = await dService.ShowMessageBox(
        Titulo,
        Descripcion,
        yesText: si);
        StateHasChanged();
        return result;

    }
    public void MostrarNotificacion(string Titulo, string Contenido)
    {
        SnackbarService.Add(

    @<div>
        <MudContainer Style=" padding-left:0; display: flex; gap: 10px; align-items: center; justify-content: space-between;  ">



            <MudContainer Style="display: flex; flex-direction: column;">

                <MudText GutterBottom="true" Color="MudBlazor.Color.Secondary" Style="padding-left:0; font-weight:bold; font-size: 12px;     ">@Titulo</MudText>

                <div style="display: flex; gap:10px;align-items: center;">
                    <MudText GutterBottom="true" Color="MudBlazor.Color.Secondary" Style="padding-left:0;  font-size: 10px;  opacity: 0.7;    ">@Contenido</MudText>


                </div>
            </MudContainer>



        </MudContainer>
    </div>
    ,
           Severity.Normal,
    config => { config.HideIcon = true; }
         );
    }
    public void MostrarNotificacion(AlbumResponse Album, string Titulo, string Contenido)
    {
        SnackbarService.Add(

    @<div>
        <MudContainer Style=" padding-left:0; display: flex; gap: 10px; align-items: center; justify-content: space-between;  ">


            <MudAvatar Style="height: 40px; width: 40px; font-size:8px;padding-left:0; cursor: pointer; border-radius: 5px;" Square="true" Rounded=false Color="MudBlazor.Color.Primary"><MudImage src="@Album.Portada"></MudImage></MudAvatar>





            <MudContainer Style="display: flex; flex-direction: column;">

                <MudText GutterBottom="true" Color="MudBlazor.Color.Secondary" Style="padding-left:0; font-weight:bold; font-size: 12px;     ">@Titulo</MudText>

                <div style="display: flex; gap:10px;align-items: center;">
                    <MudText GutterBottom="true" Color="MudBlazor.Color.Secondary" Style="padding-left:0;  font-size: 10px;  opacity: 0.7;    ">@Contenido</MudText>


                </div>
            </MudContainer>


            <MudButton Variant="Variant.Text" @onclick='()=>{navManager.NavigateTo($"/single/{Album.IdSpotify}");}' Style="font-size: 10px; font-weight: bold; cursor: pointer; " Color="MudBlazor.Color.Error" DisableElevation="true">Ver</MudButton>








        </MudContainer>
    </div>,
       Severity.Normal,
        config => { config.HideIcon = true; }
     );
    }
}
@code {
    [Parameter] public MetaMusic.Data.Request.AlbumRequest Request { get; set; } = new MetaMusic.Data.Request.AlbumRequest();
    public ReviewRequest newReview = new ReviewRequest();

    public UsuarioResponse UsuarioActual = new UsuarioResponse();
    [Parameter]public bool IsEditing { get; set; } = false;
    public bool CreandoAlbum = false;


    public bool enlazarAlbum = true;
    public bool userfound = false;

   
}
