<MudItem Style="margin-top: 60px;">
    <MudGrid>
        <MudItem md="12" sm="12" xs="12" xl="12" xxl="12" lg="12">
            <MudContainer>
                <MudGrid Justify="Justify.Center" Style="display: flex; align-items: center;">

                    <MudItem md="5" sm="12" xs="12" xl="5" xxl="5" lg="5">
                        <MudContainer Style="display: flex; align-items: center; justify-content: center;">
                            <MudAvatar Style="height: 200px; width: 200px; border-radius: 7px;" Square=true>
                                <MudImage src="@Albumresponse.portada"></MudImage>
                            </MudAvatar>
                        </MudContainer>


                    </MudItem>
                    <MudItem md="5" sm="12" xs="12" xl="5" xxl="5" lg="5">
                        <MudContainer Style="display: flex; align-items: center; justify-content: center; flex-direction: column;">

                            <MudText Style="font-size: 25px; font-weight: bold" Color="Color.Error">ALBUM REVIEW</MudText>
                            <MudText Style="font-size: 35px; font-family: SourceSerif4;" Align="Align.Center">“@Albumresponse.nombre” - @Albumresponse.Autores</MudText>
                                <MudText Style="font-size: 12px;margin-top: 20px; " Color="Color.Error">@Albumresponse.fechalanzamiento?.Substring(0, 4)</MudText>
                                <div style="display: flex; gap: 7px; align-items: center; margin-top: 20px;">
                                    <MudText Color="Color.Error" Style="font-size: 12px; font-weight:bold; "> Por: </MudText>
                                    <MudText Style="font-size: 12px; opacity: 0.7; " Color="Color.Primary"> Jeanna Grant</MudText>

                                   

                                </div>
                            </MudContainer>


                        </MudItem>
                    </MudGrid>


                </MudContainer>
            </MudItem>
            <MudDivider Style="margin-top: 30px; margin-bottom: 30px;"></MudDivider>
            <MudItem md="12" sm="12" xs="12" xl="12" xxl="12" lg="12">

                <MudGrid>
                    <MudItem md="4" lg="4" xxl="4" xl="4" sm="12" xs="12">


                        <MudContainer Style="display: flex; flex-direction: column; gap: 20px;">
                            <div style="display: flex; gap: 10px; align-items: center;">
                                <MudIcon Icon="@Icons.Material.Rounded.MusicNote" Style="height: 17px; width: 17px;" Color="Color.Error"></MudIcon>
                                <MudText Style="font-size: 15px;font-weight: bold; " Color="Color.Error">TRACKS</MudText>

                                <MudText Style="font-size: 15px;">@Albumresponse.Tracks.Count()</MudText>
                            </div>
                            <MudDivider></MudDivider>
                            <div style="display: flex; gap: 10px; align-items: center;">
                                <MudIcon Icon="@Icons.Material.Rounded.Star" Style="height: 17px; width: 17px;" Color="Color.Error"></MudIcon>
                                <MudText Style="font-size: 15px;font-weight: bold; " Color="Color.Error">GENERO MUSICAL</MudText>

                                <MudText Style="font-size: 15px; ">@Albumresponse.genero</MudText>
                            </div>
                           

                           

                        </MudContainer>
                    </MudItem>

                    <MudItem md="8" sm="12" xs="12" xl="8" xxl="8" lg="8">
                        <MudText Align="Align.Center" Style="font-size: 20px; font-weight: bold ;margin-bottom: 40px;" Color="Color.Error">CALIFICA ESTE ALBUM</MudText>

                        <MudContainer Style="display: flex; gap: 20px; justify-content: center; align-items: center; flex-wrap: wrap;">


                        @foreach (var i in rate)
                        {

                            @if (i == Albumresponse.calificacion)
                            {

                                @if (i == 1)
                                {
                                    <MudTooltip Arrow=true Text="Es Horrible" Color="Color.Error">
                                        <MudAvatar Variant="MudBlazor.Variant.Filled" Color="Color.Error" Style="border-radius: 50%;cursor: pointer; " Rounded=true>
                                            @i
                                        </MudAvatar>
                                    </MudTooltip>
                                }
                                else if (i == 2)
                                {
                                    <MudTooltip Arrow=true Text="Muy Malo" Color="Color.Error">
                                        <MudAvatar Variant="MudBlazor.Variant.Filled" Color="Color.Error" Style="border-radius: 50%;cursor: pointer; " Rounded=true>
                                            @i
                                        </MudAvatar>
                                    </MudTooltip>
                                }

                                else if (i >= 3 && i <= 4)
                                {
                                    <MudTooltip Arrow=true Text="Es Malo" Color="Color.Error">
                                        <MudAvatar Variant="MudBlazor.Variant.Filled" Color="Color.Error" Style="border-radius: 50%;cursor: pointer; " Rounded=true>
                                            @i
                                        </MudAvatar>
                                    </MudTooltip>
                                }
                                else if (i >= 5 && i <= 6)
                                {
                                    <MudTooltip Arrow=true Text="Esta Bien" Color="Color.Error">
                                        <MudAvatar Variant="MudBlazor.Variant.Filled" Color="Color.Error" Style="border-radius: 50%;cursor: pointer; " Rounded=true>
                                            @i
                                        </MudAvatar>
                                    </MudTooltip>
                                }
                                else if (i >= 7 && i <= 8)
                                {
                                    <MudTooltip Arrow=true Text="Muy Bueno" Color="Color.Error">
                                        <MudAvatar Variant="MudBlazor.Variant.Filled" Color="Color.Error" Style="border-radius: 50%;cursor: pointer; " Rounded=true>
                                            @i
                                        </MudAvatar>
                                    </MudTooltip>
                                }
                                else if (i >= 9 && i < 10)
                                {
                                    <MudTooltip Arrow=true Text="!Maravilloso!" Color="Color.Error">
                                        <MudAvatar Variant="MudBlazor.Variant.Filled" Color="Color.Error" Style="border-radius: 50%;cursor: pointer; " Rounded=true>
                                            @i
                                        </MudAvatar>
                                    </MudTooltip>
                                }
                                else
                                {
                                    <MudTooltip Arrow=true Text="!Es Excelente!" Color="Color.Error">
                                        <MudAvatar Variant="MudBlazor.Variant.Filled" Color="Color.Error" Style="border-radius: 50%;cursor: pointer; " Rounded=true>
                                            @i
                                        </MudAvatar>
                                    </MudTooltip>
                                }
                            }
                            else
                            {
                                <MudAvatar @onclick="()=>{Albumresponse.calificacion = i;}" Variant="MudBlazor.Variant.Outlined" Style="border-radius: 50%;cursor: pointer; " Rounded=true>
                                    @i
                                </MudAvatar>
                            }
                        }







                    </MudContainer>
                    </MudItem>
                </MudGrid>





            </MudItem>
            <MudDivider Style="margin-top: 30px; margin-bottom: 30px;"></MudDivider>
            <MudItem md="12" sm="12" xs="12" xl="12" xxl="12" lg="12">

                <MudGrid>




                    <MudItem md="8" lg="8" xxl="8" xl="8" sm="12" xs="12">



                    <MudContainer Style="display: flex; flex-direction: column; gap: 20px;  ">
                        <MudTextField T="string" Immediate=true MaxLength="40" Variant="MudBlazor.Variant.Text" Style="font-size: 25px;color:#E74646;  font-weight: bold ;margin-top: 20px; margin-bottom: 40px;" Placeholder="Titulo de tu critica" DisableUnderLine=true></MudTextField>
                        

                        <TinyMCE.Blazor.Editor Id="tiny" Conf="@editorConf" JsConfSrc="sample" ApiKey="4zbc8suxwqhnaaiuzacf1yboiucybwh9m9jq4trgc94dy0ab" Text="Empieza a escribir" />

                        </MudContainer>
                    </MudItem>

                <MudItem md="4" lg="4" xxl="4" xl="4" sm="12" xs="12">
                <MudText Align="Align.Center" Style="font-size: 25px; font-weight: bold ;margin-top: 20px; margin-bottom: 10px;" Color="Color.Error">TRACKS</MudText>
                    
                    <MudContainer Style="max-height: 360px; overflow: auto; margin-top: 10px; ">
                    
                    <MudGrid Justify="Justify.Center">


                            @foreach (var track in Albumresponse.Tracks)
                            {



                                <MudItem md="12" lg="12" xxl="12" xl="12" sm="12" xs="12"  >
                                    

                                    <MetaMusic.Pages.Common_Components.TrackComponent DisableLikeButton="true"   track="@track"></MetaMusic.Pages.Common_Components.TrackComponent>
                                </MudItem>


                            }


                        </MudGrid>
                    </MudContainer>
                </MudItem>
                <MudContainer Style="  display: flex; align-items: center; justify-content: center; margin-top: 20px;">
                    <MudChip Variant="MudBlazor.Variant.Filled" Color="Color.Error" Style="font-size: 13px;font-weight: bold; margin-bottom: 15px; cursor: pointer; " Text="Guardar"></MudChip>
                </MudContainer>

                <MudDivider Style="margin-top: 20px; margin-bottom: 20px;"></MudDivider>


            </MudGrid>
           

        </MudItem>
    </MudGrid>

</MudItem>

@code {
    [Parameter]
    public Album Albumresponse { get; set; } = new Album();
    public List<Track> tracksdelalbum = new List<Track>();
    
    public List<int> rate = new List<int>() { 1, 2, 3, 4, 5, 6, 7, 8, 9, 10 };

    private Dictionary<string, object> editorConf = new Dictionary<string, object>{


      {"plugins", "autoresize quickbars image media table hr paste codesample" },
      {"skin", "snow" },
    
     
        {"icons", "thin"},
     
      {"menubar", false },
      {"toolbar", false },
      {"content_style", "@import url('https://fonts.googleapis.com/css2?family=Tinos&display=swap'); body { font-family: 'Tinos', serif; font-size: 16pt; color: dimgray;  }img { display: block; margin: 0 auto; max-height: 225px; max-width: 100%;  };" },
      {"placeholder", "Escribe aqui tu critica" },
      {"quickbars_selection_toolbar", "bold italic link | h3 | alignleft aligncenter alignright |  blockquote" },
      {"quickbars_insert_toolbar", "image media table hr codesample autolink bullist numlist" },
      {"image_class_list", new object[] {
        new {title = "Responsive", value = "img-responsive" }
        }},
        {"image_dimensions", false },
        






  };
}
