<MudDialog Style="height: 90vh; width: 90vw; overflow: hidden">
    <DialogContent>
        
       
        <MudContainer Style="display: flex; flex-direction: column; gap : 10px;margin-bottom: 10px; ">
            <div style="height: auto;display: flex; flex-direction: column; gap: 10px; width: 100%; align-items: center; justify-content: center; margin-bottom: 20px; ">

                <MudText Style="font-size: 20px; font-weight: bold;">EDITAR REVIEW</MudText>
                <div Style="border: solid 1px red; height: 2px; width: 40px;"></div>
                <MudText Align="Align.Center" Style="font-size: 15px; font-weight: bold; opacity: 0.7;">@Album.Nombre</MudText>




            </div>
        </MudContainer>

           <div style="overflow: auto; max-height: 69vh; " >
                <MudText Style="font-size: 20px; font-weight: bold;  opacity: 0.8; margin-top: 30px; margin-bottom: 30px;" Align="Align.Center" Color="Color.Secondary">CALIFICA ESTE ALBUM </MudText>
            <MudContainer Style="display: flex; flex-wrap: wrap; justify-content: center; align-items: last baseline; gap: 25px; ">


                    <div style="display: flex; flex-direction: column; gap: 10px; align-items: center; justify-content: center; ">
                        <MudAvatar Class="calification-card" Variant=" Variant.Outlined" Style="height: 100px; width: 100px; cursor: pointer; margin-top: 20px; margin-bottom: 10px; font-weight: bold;">
                            @Math.Round((double)parteentera, 1)
                    </MudAvatar>
                    <MudButtonGroup Color="Color.Default" Size="Size.Small" Variant="Variant.Text">
                        <MudIconButton Icon="@Icons.Material.Rounded.ArrowBack" Size="Size.Small" Color="Color.Error" Disabled="@(parteentera <= 1)" @onclick="()=>{parteentera -= 1;}"></MudIconButton>

                        @if (parteentera >= 9)
                        {
                            <MudIconButton Icon="@Icons.Material.Rounded.ArrowForward" Size="Size.Small" Color="Color.Error" Disabled="@(parteentera >= 10)" @onclick="()=>{parteentera += 1;partedecimal = 0;}"></MudIconButton>

                        }
                        else
                        {
                            <MudIconButton Icon="@Icons.Material.Rounded.ArrowForward" Size="Size.Small" Color="Color.Error" Disabled="@(parteentera >= 10)" @onclick="()=>{parteentera += 1;}"></MudIconButton>

                        }

                    </MudButtonGroup>
                </div>
                @if (parteentera <= 9.9)
                {


                    <BlazorAnimation.Animation Effect="BlazorAnimation.Effect.FadeIn" Speed="BlazorAnimation.Speed.Faster">
                        <div style="display: flex; flex-direction: column; gap: 10px; align-items: center; justify-content: center;margin-top: 20px; margin-bottom: 20px; ">
                            <MudAvatar Variant=" Variant.Outlined" Class="calification-card" Style="height: 50px; font-size: 12px; width: 50px; cursor: pointer; margin-top: 20px; margin-bottom: 10px; font-weight: bold;">
                                @Math.Round((double)partedecimal, 1)
                            </MudAvatar>
                            <MudButtonGroup DisableElevation=true Color="Color.Default" Size="Size.Small" Variant="Variant.Text">
                                <MudIconButton Icon="@Icons.Material.Rounded.ArrowBack" Color="Color.Error" Size="Size.Small" Disabled="@(partedecimal <=0.0)" @onclick="()=>{partedecimal-= 0.1;}"></MudIconButton>


                                <MudIconButton Icon="@Icons.Material.Rounded.ArrowForward" Color="Color.Error" Size="Size.Small" Disabled="@(partedecimal >= 0.8)" @onclick="()=>{partedecimal += 0.1;}"></MudIconButton>
                            </MudButtonGroup>
                        </div>
                    </BlazorAnimation.Animation>

                }

            </MudContainer>

           


            <MudText Align="Align.Center" Style="font-size: 25px; font-weight: bold; opacity: 0.7; margin-top: 20px; margin-bottom: 20px;">Tu Calificacion</MudText>


            <BlazorAnimation.Animation Effect="BlazorAnimation.Effect.FadeIn" Speed="BlazorAnimation.Speed.Faster">
                <MudText Align="Align.Center" Style="font-size: 70px; font-weight: bold; opacity: 0.7; margin-top: 20px; margin-bottom: 20px;" Color="Color.Error">@Math.Round((double)(parteentera + partedecimal), 1)</MudText>

            </BlazorAnimation.Animation>

            <MudDivider Style="margin-top: 30px; margin-bottom: 30px;"></MudDivider>
            <MudContainer  Style="display: flex; flex-direction: column;gap: 20px;">

                <MudTextField AutoGrow=true T="string" @bind-Value="Review.Titulo" Immediate=true MaxLength="100" Counter="100" Variant="MudBlazor.Variant.Text" Style="font-size: 20px; font-family: SourceSerif4; font-size: 20px; " Placeholder="Titulo de la review (Obligatorio)" DisableUnderLine=true></MudTextField>
                <MudTextField @bind-Value="Review.Contenido" AutoGrow=true T="string" MaxLength="3000" Counter="3000" Immediate=true Variant="MudBlazor.Variant.Text" Style="font-family: SourceSerif4; font-size: 18px; opacity: 0.7;  " Placeholder="Cuerpo de la critica (Obligatorio)" DisableUnderLine=true></MudTextField>




            </MudContainer>

            <div style="margin-top: 60px; display: flex; justify-content: center; align-items: center;">
                <MudChip Style="font-size: 12px;" Disabled="@(string.IsNullOrEmpty(Review.Titulo) || string.IsNullOrEmpty(Review.Contenido) )" @onclick="async ()=>{await Modificar();}" Color="Color.Tertiary">Guardar Cambios</MudChip>
                <MudChip Style="font-size: 12px;" @onclick="()=>{MudDialog.Cancel();}" Color="Color.Error">Cancelar</MudChip>

            </div>
          </div>
       
    </DialogContent>
</MudDialog>
@functions{
    public void MostrarNotificacion(string Titulo, string Contenido)
    {
        SnackbarService.Add(

    @<div>
        <MudContainer Style=" padding-left:0; display: flex; gap: 10px; align-items: center; justify-content: space-between;  ">



            <MudContainer Style="display: flex; flex-direction: column;">

                <MudText GutterBottom="true" Color="MudBlazor.Color.Secondary" Style="padding-left:0; font-weight:bold; font-size: 12px;     ">@Titulo</MudText>

                <div style="display: flex; gap:10px;align-items: center;">
                    <MudText GutterBottom="true" Color="MudBlazor.Color.Secondary" Style="padding-left:0;  font-size: 10px;  opacity: 0.7;    ">@Contenido</MudText>


                </div>
            </MudContainer>



        </MudContainer>
    </div>
    ,
           Severity.Normal,
    config => { config.HideIcon = true; }
         );
    }
    public async Task Modificar(){

        Album.Calificacion_Creador = partedecimal + parteentera;
        var r = await albumService.Modificar(Album.ToRequest(), Review.ToRequest());

        if(r.Success == true)
        {
            MostrarNotificacion("Review Editada", "Se edito la review correctamente");
            MudDialog.Close();

        }
    }
    protected override void OnInitialized()
    {

        parteentera = (int)Album.Calificacion_Creador;
        partedecimal = Album.Calificacion_Creador - parteentera;
    }

  
    
}
@code {
    [CascadingParameter] public MudDialogInstance MudDialog { get; set; } = new MudDialogInstance();
    [Parameter] public AlbumResponse Album { get; set; } = new AlbumResponse();
    [Parameter] public ReviewResponse Review { get; set; } = new ReviewResponse();
   
    public int parteentera = 1;
    public double partedecimal = 0.1;
    public List<int> rate = new List<int>() { 1, 2, 3, 4, 5, 6, 7, 8, 9, 10 };
    public List<double> decimales = new List<double>() { 0.0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9 };
}
