<style>

</style>

<MudPaper>
    <MudContainer Style="display: flex; flex-direction: column; gap 10px; ">
        <MudContainer Style="justify-content: space-between; height: 30px;display: flex; gap: 10px;padding: 0; margin-top:20px; flex-wrap: nowrap; text-overflow: ellipsis;">

           
            <div style="display: flex; gap: 10px;padding: 0; ">
                <MudAvatar style="height: 20px; width: 20px;">
                    <MudImage Fluid="true" ObjectFit="ObjectFit.Cover" src="@nota.Creador?.FotoDePerfil" />
                </MudAvatar>
                <MudText Style="font-size: 12px;height: 20px; overflow: hidden;  font-weight: bold; white-space: nowrap; text-overflow: ellipsis;">
                    @nota.Creador?.Nombre
                </MudText>
            </div>
           
            <MudText Align="Align.End" Style="font-size: 12px;height: 20px; overflow: hidden;   white-space: nowrap; text-overflow: ellipsis; opacity: 0.7;">
                @nota.Fecha_Creacion.FechaRelativa()
            </MudText>
        </MudContainer>
        <MudContainer Class=" review-text" Style="padding: 0; height: auto; margin-top: 10px; margin-bottom: 10px;">
            <MudText Style="font-size: 12px; opacity: 0.7;">
               @nota.Contenido
            </MudText>
        </MudContainer>
        <MudContainer Style="padding: 0; display: flex;  margin-top: 15px; margin-bottom: 15px; align-items: center; justify-content:space-between;">

            <div style="display: flex; gap :30px;">
                <div style="display: flex; gap :8px;align-items: center;">
                    <MudIcon Icon="@Icons.Material.Rounded.Favorite" Color="Color.Error" Style="width: 15px; height: 15px;"></MudIcon>
                    <MudText Style="font-size: 12px;font-weight: bold; opacity: 0.7; " Color="Color.Primary">90</MudText>
                </div>

                <div style="display: flex; gap :8px;align-items: center;">
                    <MudIcon Icon="@Icons.Material.Rounded.ThumbDownAlt" Color="Color.Error" Style="width: 15px; height: 15px;"></MudIcon>
                    <MudText Style="font-size: 12px;font-weight: bold; opacity: 0.7; " Color="Color.Primary">5</MudText>
                </div>

                @if(ReportButton)
                {
                    <MudMenu ListClass="pa-0 mud-elevation-4" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter" Size="Size.Small" Icon="@Icons.Material.Rounded.Flag">

                        <ActivatorContent>
                            <div style="display: flex; gap :8px;align-items: center;">
                                <MudIcon Icon="@Icons.Material.Rounded.Info" Color="Color.Error" Style="width: 15px; height: 15px;"></MudIcon>

                            </div>
                        </ActivatorContent>
                        <ChildContent>
                            <MudPaper Outlined="true" style="padding: 10px; overflow: hidden;">


                                <MudMenuItem Style="border-radius: 10px;"><MudText Style="font-size: 10px;">Contenido Ofensivo</MudText></MudMenuItem>
                                <MudMenuItem Style="border-radius: 10px;"><MudText Style="font-size: 10px;">Critica Imparcial / Hate</MudText></MudMenuItem>





                            </MudPaper>
                        </ChildContent>





                    </MudMenu>

                }
            

               
            </div>
            <MudAvatar style="height: 30px; width: 30px;font-size: 12px; right: 0;">
                @calificacion.Numero
            </MudAvatar>
        </MudContainer>

    </MudContainer>
</MudPaper>
@code {
    [Parameter] public CalificacionResponse calificacion { get; set; } = new CalificacionResponse();
    [Parameter] public NotaResponse nota { get; set; } = new NotaResponse();
    [Parameter] public bool ReportButton { get; set; } = true;
}
