<style>

</style>

<MudPaper>
    <MudContainer Style="display: flex; flex-direction: column; gap 10px; ">
        <MudContainer Style="justify-content: space-between; height: 30px;display: flex; gap: 10px;padding: 0; margin-top:20px; flex-wrap: nowrap; text-overflow: ellipsis;">

           
            <div style="display: flex; gap: 10px;padding: 0; ">
                <MudAvatar style="height: 20px; width: 20px;">
                    <MudImage Fluid="true" ObjectFit="ObjectFit.Cover" src="@nota.Creador?.FotoDePerfil" />
                </MudAvatar>
                <MudText Style="font-size: 12px;height: 20px; overflow: hidden;  font-weight: bold; white-space: nowrap; text-overflow: ellipsis;">
                    @nota.Creador?.Nombre
                </MudText>
            </div>
           
            <MudText Align="Align.End" Style="font-size: 12px;height: 20px; overflow: hidden;   white-space: nowrap; text-overflow: ellipsis; opacity: 0.7;">
                @nota.Fecha_Creacion.FechaRelativa()
            </MudText>
        </MudContainer>
        <MudContainer Class=" review-text" Style="padding: 0; height: auto; margin-top: 10px; margin-bottom: 10px;">
            <MudText Style="font-size: 12px; opacity: 0.7;">
               @nota.Contenido
            </MudText>
        </MudContainer>
        <MudContainer Style="padding: 0; display: flex;  margin-top: 15px; margin-bottom: 15px; align-items: center; justify-content:space-between;">

            <div style="display: flex; gap :30px;">
                <div style="display: flex; gap :8px;align-items: center;">
                     @if(disableInteractivity)
                    {
                        <MudIcon Icon="@( nota.Usuarios_Liked.Any(U => U.Usuario.Id == usuarioactual.Id)  ? Icons.Material.Rounded.Favorite : Icons.Material.Rounded.FavoriteBorder  )" Style="width: 15px; height: 15px;cursor: pointer;"></MudIcon>
                        
                    }
                    else
                        {
                        <MudIcon @onclick="async ()=>{await likeNote();}" Icon="@( nota.Usuarios_Liked.Any(U => U.Usuario.Id == usuarioactual.Id)  ? Icons.Material.Rounded.Favorite : Icons.Material.Rounded.FavoriteBorder  )" Color="Color.Error" Style="width: 15px; height: 15px;cursor: pointer;"></MudIcon>

                    }
                    <MudText Style="font-size: 12px;font-weight: bold; opacity: 0.7; " Color="Color.Primary">@nota.Cantidad_Likes</MudText>
                </div>

              
                    <div style="display: flex; gap :8px;align-items: center;">

                        @if(disableInteractivity)
                        {
                         <MudIcon Icon="@(nota.Usuarios_DisLiked.Any(U => U.Usuario.Id == usuarioactual.Id) ? Icons.Material.Rounded.ThumbDownAlt : Icons.Material.Outlined.ThumbDownAlt  )" Style="width: 15px; height: 15px;cursor: pointer;"></MudIcon>

                        }
                        else
                        {
                         <MudIcon @onclick="async ()=>{await DislikeNote();}" Icon="@(nota.Usuarios_DisLiked.Any(U => U.Usuario.Id == usuarioactual.Id) ? Icons.Material.Rounded.ThumbDownAlt : Icons.Material.Outlined.ThumbDownAlt  )" Color="Color.Error" Style="width: 15px; height: 15px;cursor: pointer;"></MudIcon>

                        }
                        <MudText Style="font-size: 12px;font-weight: bold; opacity: 0.7; " Color="Color.Primary">@nota.Cantidad_Dislikes</MudText>
                    </div>
                
               

               
                @if(deletebuttonvisible || usuarioactual.Rol.Tipo == "Staff")
                {
                    <div style="display: flex; gap :8px;align-items: center;">
                        <MudIcon @onclick="async ()=>{await DislikeNote();}" Icon="@Icons.Material.Rounded.Delete" Color="Color.Error" Style="width: 15px; height: 15px;cursor: pointer;"></MudIcon>
                      
                    </div>
                }
                else
                {
                     <MudMenu ListClass="pa-0 mud-elevation-4" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter" Size="Size.Small" Icon="@Icons.Material.Rounded.Flag">

                        <ActivatorContent>
                            <div style="display: flex; gap :8px;align-items: center;">
                                <MudIcon Icon="@Icons.Material.Rounded.Info" Color="Color.Error" Style="width: 15px; height: 15px;"></MudIcon>

                            </div>
                        </ActivatorContent>
                        <ChildContent>
                            <MudPaper Outlined="true" style="padding: 10px; overflow: hidden;">


                                <MudMenuItem Style="border-radius: 10px;"><MudText Style="font-size: 10px;">Contenido Ofensivo</MudText></MudMenuItem>
                                <MudMenuItem Style="border-radius: 10px;"><MudText Style="font-size: 10px;">Spam</MudText></MudMenuItem>





                            </MudPaper>
                        </ChildContent>





                    </MudMenu>

                }


               
            </div>
            <MudAvatar style="height: 30px; width: 30px;font-size: 12px; right: 0;">
                @calificacion.Numero
            </MudAvatar>
        </MudContainer>

    </MudContainer>
</MudPaper>

@functions{

    public async Task DislikeNote()
    {
        var r = await notaService.DisLikeNota(nota.Id, usuarioactual.Id);

        if(r.Success && r.Data is not null)
        {

            nota = r.Data;
            StateHasChanged();
        }
    }

    public async Task likeNote()
    {
        var r = await notaService.LikeNota(nota.Id, usuarioactual.Id);

        if (r.Success && r.Data is not null)
        {

            nota = r.Data;
            StateHasChanged();
        }
    }
}
@code {
    [Parameter] public CalificacionResponse calificacion { get; set; } = new CalificacionResponse();
    [Parameter] public NotaResponse nota { get; set; } = new NotaResponse();
    [Parameter] public bool ReportButton { get; set; } = true;
    [Parameter] public UsuarioResponse usuarioactual { get; set; } = new UsuarioResponse();
    [Parameter] public bool disableInteractivity { get; set; } = false;
    [Parameter] public bool deletebuttonvisible { get; set; } = false;
}
