
<style>

    .portada{
        transition: transform 0.3s ease-out;
        cursor: pointer;
    }

    .portada:hover {
            transform: scale(1.05);
    }
</style>
    <MudGrid Justify="Justify.Center" Style="display: flex; align-items: last baseline; " >
       
        <MudItem md="7" sm="7" xs="7" xxl="7" lg="7">
            <MudContainer   Style="display: flex; flex-direction: column; gap: 10px;">
              
            @if (album.Artistas.Count() >= 2)
            {
                <MudText  Style="font-size: 12px; font-weight: bold;" Color="Color.Error"> @(album.Artistas[0].Artista?.GenerosMusicales[0].Genero?.Nombre + " / " + album.Artistas[1].Artista?.GenerosMusicales[0].Genero?.Nombre)</MudText>
            }
            else
            {
                <MudText  Style="font-size: 12px; font-weight: bold;" Color="Color.Error">
                    @(album.Artistas[0].Artista?.GenerosMusicales[0].Genero?.Nombre + " / " + album.Artistas[0].Artista?.GenerosMusicales[1].Genero?.Nombre)
                </MudText>

            }
            
            <MudText Style="font-size: 19px; font-weight: bold; font-family: SourceSerif4;">“@album.Nombre”
                
                @if (album.Artistas.Count() >= 3)
                {
                   @( "Varios Artistas")
                }
                else if ((album.Artistas.Count() == 2))
                {
                    <div Style="display: flex; gap: 10px; ">
                        <MudLink @onclick='()=>{navManager.NavigateTo($"/artist/{album.Artistas[0].Artista?.Nombre}");}' Style="font-size: 15px; font-weight: bold; font-family: SourceSerif4;opacity: 0.7; ">@album.Artistas[0].Artista?.Nombre</MudLink>
                            <MudLink @onclick='()=>{navManager.NavigateTo($"/artist/{album.Artistas[1].Artista?.Nombre}");}' Style="font-size: 15px; font-weight: bold; font-family: SourceSerif4;opacity: 0.7;">@album.Artistas[1].Artista?.Nombre</MudLink>
                        </div>

                }
                else
                {
                    <div Style="display: flex; gap: 10px; ">
                        <MudLink @onclick='()=>{navManager.NavigateTo($"/artist/{album.Artistas[0].Artista?.SpotifyId}");}' Style="font-size: 15px; font-weight: bold; font-family: SourceSerif4;opacity: 0.7;">@album.Artistas[0].Artista?.Nombre</MudLink>

                        </div>

                }
               
                
            </MudText>
             
               <MudText Style="font-size: 12px; opacity: 0.7;">@album.Review.Titulo</MudText>
            <MudText Style="font-size: 10px; margin-top: 10px; "><b>Reviewer:</b> @album.Creador.Nombre</MudText>
            </MudContainer>
        </MudItem>
        <MudItem md="4" xxl="4" lg="4" >
            <MudAvatar Class="portada" Square="true" Rounded="false" Style="height: 150px; width: 150px;   " @onclick='()=>{navManager.NavigateTo($"/album/{album.IdSpotify}");}'><MudImage Fluid="true" ObjectFit="ObjectFit.Cover" src="@album.Portada" Style="height:100%; width: 100%;   " /></MudAvatar>
        </MudItem>
    </MudGrid>


@code {
    [Parameter] public AlbumResponse album { get; set; } = new AlbumResponse();
}
