
<style>

    .album-portada-card {
       
        cursor: pointer;
        transition: border 0.3s ease;
        padding: 5px;
        justify-content: center;
        align-items: center;/* Agregar una transición para suavizar el cambio */
    }

        .album-portada-card:hover {
            
            animation: pulse 0.5s ease; /* Aplicar la animación definida */
        }
    .portada{
        transition: transform 0.3s ease-out;
        cursor: pointer;
    }

    .portada:hover {
            transform: scale(1.05);
    }
</style>
    <MudGrid Justify="Justify.Center" Style="display: flex; align-items: last baseline; " >
       
        <MudItem md="7" sm="12" xs="12" xxl="7" lg="7">
            <MudContainer   Style="display: flex; flex-direction: column; gap: 10px;">
              
                @try
                {
                    @if (album.Artistas.Count() >= 2)
                    {
                        <MudText Class="album-genre" Style="font-size: 12px; font-weight: bold;" Color="Color.Error"> @(album.Artistas[0].Artista?.GenerosMusicales[0].Genero?.Nombre + " / " + album.Artistas[1].Artista?.GenerosMusicales[0].Genero?.Nombre)</MudText>
                    }
                    else
                    {
                    <MudText Class="album-genre" Style="font-size: 12px; font-weight: bold;" Color="Color.Error">
                            @(album.Artistas[0].Artista?.GenerosMusicales[0].Genero?.Nombre + " / " + album.Artistas[0].Artista?.GenerosMusicales[1].Genero?.Nombre)
                        </MudText>

                    }
                }
                catch
                {
                
                }
           
            
            <MudText Style="font-size: 19px; font-weight: bold; font-family: SourceSerif4;">
                <div style="cursor: pointer;" @onclick='()=>{navManager.NavigateTo($"/album/{album.IdSpotify}");}'>“@album.Nombre”</div>
                
                @if (album.Artistas.Count() >= 3)
                {
                   @( "Varios Artistas")
                }
                else if ((album.Artistas.Count() == 2))
                {
                    <div Style="display: flex; gap: 10px; ">
                        <MudLink @onclick='()=>{navManager.NavigateTo($"/artist/{album.Artistas[0].Artista?.Nombre}");}' Style="font-size: 15px; font-weight: bold; font-family: SourceSerif4;opacity: 0.7; ">@album.Artistas[0].Artista?.Nombre</MudLink>
                            <MudLink @onclick='()=>{navManager.NavigateTo($"/artist/{album.Artistas[1].Artista?.Nombre}");}' Style="font-size: 15px; font-weight: bold; font-family: SourceSerif4;opacity: 0.7;">@album.Artistas[1].Artista?.Nombre</MudLink>
                        </div>

                }
                else if (album.Artistas.Count() == 1)
                {
                    <div Style="display: flex; gap: 10px; ">
                        <MudLink @onclick='()=>{navManager.NavigateTo($"/artist/{album.Artistas[0].Artista?.SpotifyId}");}' Style="font-size: 15px; font-weight: bold; font-family: SourceSerif4;opacity: 0.7;">@album.Artistas[0].Artista?.Nombre</MudLink>

                        </div>

                }
               
                
            </MudText>
             
               <MudText Style="font-size: 12px; opacity: 0.7;">@album.Review?.Titulo</MudText>
                <MudText Style="font-size: 12px; margin-top: 10px; font-family: SourceSerif4;"><b>Reviewer:</b> @album.Creador.Nombre</MudText>
            </MudContainer>
        </MudItem>

        <MudHidden Breakpoint="Breakpoint.SmAndDown">
            <MudItem md="4" xxl="4" lg="4">
                <div class="album-portada-card">
                    <MudAvatar Class="portada" Square="true" Rounded="false" Style="height: 150px; width: 150px;   " @onclick='()=>{navManager.NavigateTo($"/album/{album.IdSpotify}");}'><MudImage Fluid="true" ObjectFit="ObjectFit.Cover" src="@album.Portada" Style="height:100%; width: 100%;   " /></MudAvatar>

                </div>
            </MudItem>
        </MudHidden>
       
    </MudGrid>


@code {
    [Parameter] public AlbumResponse album { get; set; } = new AlbumResponse();
}
