<style>
    .review-text-card {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>

<MudGrid Justify="Justify.Center" Style="display: flex; align-items: last baseline; ">
    <MudItem md="12" sm="12" xs="12" xxl="12" lg="12" Style="display: flex; flex-direction: column; gap: 10px; align-items: center; justify-content: center;">
        <MudAvatar Class="portada" Square="true" Rounded="false" Style="height: 150px; width: 150px;   " @onclick='()=>{navManager.NavigateTo($"/album/{album.IdSpotify}");}'><MudImage Fluid="true" ObjectFit="ObjectFit.Cover" src="@album.Portada" Style="height:100%; width: 100%;   " /></MudAvatar>
    </MudItem>
    <MudItem md="12" sm="12" xs="12" xxl="12" lg="12">
        <MudContainer Style="display: flex; flex-direction: column; gap: 10px; align-items: center; width: 100%; justify-content: center;">


            @try
            {
                @if (album.Artistas.Count() >= 2)
                {
                    <MudText Style="font-size: 12px; font-weight: bold;" Color="Color.Error"> @(album.Artistas[0].Artista?.GenerosMusicales[0].Genero?.Nombre + " / " + album.Artistas[1].Artista?.GenerosMusicales[0].Genero?.Nombre)</MudText>
                }
                else
                {
                    <MudText Style="font-size: 12px; font-weight: bold;" Color="Color.Error">
                        @(album.Artistas[0].Artista?.GenerosMusicales[0].Genero?.Nombre + " / " + album.Artistas[0].Artista?.GenerosMusicales[1].Genero?.Nombre)
                    </MudText>

                }
            }
            catch
            {

            }
           

            <MudText Align="Align.Center" Style="font-size: 14px; font-weight: bold; font-family: SourceSerif4; ">
                “@album.Nombre”

                @if (album.Artistas.Count() >= 3)
                {
                    @("Varios Artistas")
                }
                else if ((album.Artistas.Count() == 2))
                {
                    <div Style="display: flex; gap: 10px; align-items: center; justify-content: center;">
                        <MudLink @onclick='()=>{navManager.NavigateTo($"/artist/{album.Artistas[0].Artista?.Nombre}");}' Style="font-size: 14px; font-weight: bold; font-family: SourceSerif4; opacity: 0.7;">@album.Artistas[0].Artista?.Nombre</MudLink>
                            <MudLink @onclick='()=>{navManager.NavigateTo($"/artist/{album.Artistas[1].Artista?.Nombre}");}' Style="font-size: 14px; font-weight: bold; font-family: SourceSerif4; opacity: 0.7;">@album.Artistas[1].Artista?.Nombre</MudLink>
                        </div>

                }
                else if (album.Artistas.Count() == 1)
                {
                    <div Style="display: flex; gap: 10px; align-items: center; justify-content: center;">
                        <MudLink @onclick='()=>{navManager.NavigateTo($"/artist/{album.Artistas[0].Artista?.SpotifyId}");}' Style="font-size: 14px; font-weight: bold; font-family: SourceSerif4;opacity: 0.7;">@album.Artistas[0].Artista?.Nombre</MudLink>

                        </div>

                }


            </MudText>

            <MudText Align="Align.Center" Style="font-size: 12px; opacity: 0.7; ">@album.Review?.Titulo</MudText>
                <MudText Align="Align.Center" Style="font-size: 12px; margin-top: 10px; font-family: SourceSerif4;"><b>Reviewer:</b> @album.Review?.Creador?.Nombre</MudText>
            </MudContainer>
        </MudItem>

    </MudGrid>
    

@code {
    

    [Parameter]
    public AlbumResponse album { get; set; } = new AlbumResponse();
}
