@page "/single"

<MudItem Style="margin-top: 60px;">
    <MudGrid>
        <MudItem md="12" sm="12" xs="12" xl="12" xxl="12" lg="12">
            <MudContainer>
                <MudGrid Justify="Justify.Center" Style="display: flex; align-items: center;">
                    
                    <MudItem md="5" sm="12" xs="12" xl="5" xxl="5" lg="5">
                        <MudContainer Style="display: flex; align-items: center; justify-content: center;">
                            <MudAvatar Style="height: 200px; width: 200px; border-radius: 7px;" Square=true>
                                <MudImage src="@Albumresponse.portada"></MudImage>
                            </MudAvatar>
                        </MudContainer>


                    </MudItem>
                    <MudItem md="5" sm="12" xs="12" xl="5" xxl="5" lg="5">
                        <MudContainer Style="display: flex; align-items: center; justify-content: center; flex-direction: column;">

                            <MudText Style="font-size: 25px; font-weight: bold" Color="Color.Error">SINGLE REVIEW</MudText>
                            <MudText Style="font-size: 35px; font-family: SourceSerif4;" Align="Align.Center">“@Albumresponse.nombre” - @Albumresponse.Autores</MudText>
                                <MudText Style="font-size: 12px;margin-top: 20px; " Color="Color.Error">@Albumresponse.fechalanzamiento?.Substring(0,4)</MudText>
                                <MudText Color="Color.Error" Style="font-size: 12px; margin-top: 10px; font-weight:bold; "> @Albumresponse.genero </MudText>
                           
                        </MudContainer>


                    </MudItem>
                </MudGrid>


            </MudContainer>
        </MudItem>
        <MudDivider Style="margin-top: 30px; margin-bottom: 30px;"></MudDivider>
        <MudItem md="12" sm="12" xs="12" xl="12" xxl="12" lg="12">
           
            <MudGrid>
                    

                    <MudItem md="12" sm="12" xs="12" xl="12" xxl="12" lg="12">
                        <MudGrid Style="margin-top: 20px;" Justify="Justify.Center">
                            <MudItem md="6" sm="12" xs="12" xl="6" xxl="6" lg="6">
                                <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;gap: 20px;">
                                    <MudAvatar Color="Color.Error" Size="Size.Large" Variant="MudBlazor.Variant.Filled" Style="border-radius: 50%; " Rounded=true>
                                        7
                                    </MudAvatar>
                                    <MudText Style="font-size: 15px; font-weight: bold">CALIFICACION DEL AUTOR</MudText>

                                </div>
                            </MudItem>
                            <MudItem md="6" sm="12" xs="12" xl="6" xxl="6" lg="6">
                                <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; gap: 20px;">
                                    <MudAvatar Color="Color.Error" Size="Size.Large" Variant="MudBlazor.Variant.Filled" Style="border-radius: 50%; " Rounded=true>
                                        9
                                    </MudAvatar>
                                    <MudText Style="font-size: 15px; font-weight: bold">CALIFICACION DEL PUBLICO</MudText>
                                    <MudText Style="font-size: 12px;"><span style="color: #E74646;">120</span>  CRITICAS</MudText>
                                    <MudButton Style="font-size: 12px;" @onclick="ShowNotes" Color="Color.Error" Variant="MudBlazor.Variant.Outlined">VER CRITICAS</MudButton>
                                </div>
                            </MudItem>
                        </MudGrid>
                    </MudItem>
            </MudGrid>
          
               
                   
            

        </MudItem>
        <MudDivider Style="margin-top: 30px; margin-bottom: 30px;"></MudDivider>
        <MudItem md="12" sm="12" xs="12" xl="12" xxl="12" lg="12">

            <MudGrid >
               

               

                <MudItem md="12" lg="12" xxl="12" xl="12" sm="12" xs="12">
                    <MudText Align="Align.Center" Style="font-size: 25px; font-weight: bold ;margin-top: 20px; margin-bottom: 40px;" Color="Color.Error">ANÁLISIS</MudText>


                    <MudContainer Style="display: flex; flex-direction: column; gap: 20px;">
                        <MudText Style="font-size: 18px; font-family: SourceSerif4; text-align: justify;">
                                SZA, la talentosa cantante y compositora estadounidense, nos cautiva una vez más con su sencillo "Drew Barrymore". Este tema, extraído de su aclamado álbum Ctrl, es una joya musical que se destaca por su honestidad lírica y una producción que te envuelve en una atmósfera introspectiva.

                                La canción lleva el nombre de la icónica actriz Drew Barrymore, pero va más allá de un simple homenaje. Es un viaje personal de SZA, donde se sumerge en sus propias experiencias y vulnerabilidades. La voz única y emotiva de SZA se entrelaza con una mezcla de R&B y elementos alternativos, creando una amalgama sonora que se siente fresca y atemporal.

                                La lírica de "Drew Barrymore" es un testimonio de la autenticidad de SZA al abordar temas como la autoaceptación, las inseguridades y las complejidades de las relaciones. La sinceridad con la que comparte sus pensamientos invita a los oyentes a conectarse con la música de una manera profunda y significativa.

                                El ritmo tranquilo y melódico de la canción proporciona el telón de fondo perfecto para la voz distintiva de SZA. Cada nota parece cuidadosamente seleccionada para transmitir la complejidad de las emociones que se exploran en la letra. La producción rica y los matices musicales dan vida a la narrativa, creando una experiencia auditiva que es tanto conmovedora como reflexiva.


                                En resumen, "Drew Barrymore" de SZA no solo es un sencillo, es una obra de arte que trasciende las barreras musicales. Es una ventana a la alma de la artista, una invitación a reflexionar sobre nuestras propias experiencias y una celebración de la autenticidad en la música. SZA nos recuerda que la belleza reside en la vulnerabilidad y que la verdadera conexión se encuentra en la honestidad sin reservas.
                           
                        </MudText>

                            <div style="display: flex; gap: 7px; align-items: center; margin-top: 20px;  ">
                                <MudText Color="Color.Error" Style="font-size: 15px; font-weight:bold;font-family: SourceSerif4; "> Por: </MudText>
                                <MudText Style="font-size: 15px; opacity: 0.7;font-family: SourceSerif4; " Color="Color.Primary"> Jeanna Grant</MudText>

                                <MudTooltip Arrow="true" Text="Reportar" Color="Color.Error">
                                    <MudIconButton Size="Size.Small" Icon="@Icons.Material.Rounded.Flag"></MudIconButton>

                                </MudTooltip>

                            </div>

                    </MudContainer>
                </MudItem>
  
                
              
              
            </MudGrid>
            <MudDivider Style="margin-top: 30px; margin-bottom: 30px;"></MudDivider>
            <MudGrid>
                <MudItem md="12" lg="12" xxl="12" xl="12" sm="12" xs="12">

                    <MudText Align="Align.Center" Style="font-size: 20px; font-weight: bold ;margin-top: 20px; margin-bottom: 40px;" Color="Color.Error">CALIFICA ESTE SINGLE</MudText>

                    <MudContainer  Style="display: flex; gap: 20px; justify-content: center; align-items: center; flex-wrap: wrap;">


                       @foreach(var i in rate)
                       {

                            @if(i == ratenumber)
                            {

                                @if (i == 1 )
                                {
                                    <MudTooltip Arrow=true Text="Es Horrible" Color="Color.Error" >
                                        <MudAvatar  Variant="MudBlazor.Variant.Filled" Color="Color.Error" Style="border-radius: 50%;cursor: pointer; " Rounded=true>
                                            @i
                                        </MudAvatar>
                                    </MudTooltip>
                                }
                                else if (i == 2)
                                {
                                    <MudTooltip Arrow=true Text="Muy Malo" Color="Color.Error">
                                        <MudAvatar Variant="MudBlazor.Variant.Filled" Color="Color.Error" Style="border-radius: 50%;cursor: pointer; " Rounded=true>
                                            @i
                                        </MudAvatar>
                                    </MudTooltip>
                                }
                                
                                else if (i >= 3 && i <= 4)
                                {
                                    <MudTooltip Arrow=true Text="Es Malo" Color="Color.Error">
                                        <MudAvatar Variant="MudBlazor.Variant.Filled" Color="Color.Error" Style="border-radius: 50%;cursor: pointer; " Rounded=true>
                                            @i
                                        </MudAvatar>
                                    </MudTooltip>
                                }
                                else if (i >= 5 && i <= 6)
                                {
                                    <MudTooltip Arrow=true Text="Esta Bien" Color="Color.Error">
                                        <MudAvatar Variant="MudBlazor.Variant.Filled" Color="Color.Error" Style="border-radius: 50%;cursor: pointer; " Rounded=true>
                                            @i
                                        </MudAvatar>
                                    </MudTooltip>
                                }
                                else if (i >= 7 && i <= 8)
                                {
                                    <MudTooltip Arrow=true Text="Muy Bueno" Color="Color.Error">
                                        <MudAvatar Variant="MudBlazor.Variant.Filled" Color="Color.Error" Style="border-radius: 50%;cursor: pointer; " Rounded=true>
                                            @i
                                        </MudAvatar>
                                    </MudTooltip>
                                }
                                else if (i >= 9 && i < 10)
                                {
                                    <MudTooltip Arrow=true Text="!Maravilloso!" Color="Color.Error">
                                        <MudAvatar Variant="MudBlazor.Variant.Filled" Color="Color.Error" Style="border-radius: 50%;cursor: pointer; " Rounded=true>
                                            @i
                                        </MudAvatar>
                                    </MudTooltip>
                                }
                                else 
                                {
                                    <MudTooltip Arrow=true Text="!Es Excelente!" Color="Color.Error">
                                        <MudAvatar Variant="MudBlazor.Variant.Filled" Color="Color.Error" Style="border-radius: 50%;cursor: pointer; " Rounded=true>
                                            @i
                                        </MudAvatar>
                                    </MudTooltip>
                                }
                             }


                            
                            else
                            {
                                <MudAvatar @onmouseover="()=>{ratenumber = i;}" @onclick="()=>{ratenumber = i;}" Variant="MudBlazor.Variant.Outlined" Style="border-radius: 50%;cursor: pointer; " Rounded=true>
                                    @i
                                    </MudAvatar>
                            }
                       }
                        
                      

                       
                       
                        
                       
                    </MudContainer>
                    <MudText Align="Align.Center"  Style="font-size: 10px; font-weight: bold; margin-top: 20px; margin-bottom: 20px; opacity: 0.5;">•  •  •  •  •  •  •  •  •  •  •  •</MudText>
                    <MudContainer Style="margin-top: 20px; width: 80%;">
                        <MudTextField AutoGrow=true T="string" Immediate=true MaxLength="120" Counter="120" Variant="MudBlazor.Variant.Text" Style="font-size: 15px;" Placeholder="Escribe una nota (opcional)" DisableUnderLine=true AdornmentIcon="@Icons.Material.Rounded.Send" Adornment="Adornment.End"></MudTextField>
                    </MudContainer>
                </MudItem>
              
                
                <MudDivider Style="margin-top: 30px; margin-bottom: 30px;"></MudDivider>
                <MudItem md="12" lg="12" xxl="12" xl="12" sm="12" xs="12" Style="margin-bottom: 60px;">
                    <MudText Align="Align.Center" Style="font-size: 20px; font-weight: bold ;margin-top: 20px; margin-bottom: 40px;" Color="Color.Error">MAS DE @Albumresponse.Autores?.ToUpper()</MudText>
                      
                    <MudGrid>
                        @foreach (var album in albumesrelacionados.AsEnumerable().Take(4))
                        {
                            <MudItem md="3" lg="3" xxl="3" xl="3" sm="12" xs="12">
                                <MetaMusic.Pages.Common_Components.ReviewCard album="album"></MetaMusic.Pages.Common_Components.ReviewCard>

                            </MudItem>
                        }
                    </MudGrid>
                    
                   
                </MudItem>
            </MudGrid>
          
        </MudItem>
    </MudGrid>

</MudItem>

@functions{

    public async Task ShowNotes()
    {
        var options = new MudBlazor.DialogOptions() { NoHeader = true, CloseButton = false };

       await dService.ShowAsync<Pages.Common_Components.NotasDialog>("", options);
    }
}
@code {



    protected override async Task OnInitializedAsync()
    {
        try
        {
            var config = SpotifyClientConfig.CreateDefault();

            var request = new ClientCredentialsRequest("be3b1a5218c449a79a3a21ddfe850a5f", "7cf1d67e3efd4690a1bd43a18903f7dc");
            var response = await new OAuthClient(config).RequestToken(request);

            var spotify = new SpotifyClient(config.WithToken(response.AccessToken));

            var album = await spotify.Albums.Get("41HZOC3jBstsK2ujTn7Kgm");
          
            var albumes = await spotify.Artists.GetAlbums(album.Artists[0].Id);
            var artist = await spotify.Artists.Get(album.Artists[0].Id);


            if(album is not null )
            {
                Albumresponse.portada = album.Images[0].Url;
                Albumresponse.Autores = album.Artists[0].Name;

                if(artist is not null && artist.Genres.Count() >= 1)
                {
                    Albumresponse.genero = artist.Genres[0];

                }
                Albumresponse.nombre = album.Name;
                Albumresponse.fechalanzamiento = album.ReleaseDate;

                
                if (albumes.Items is not null)
                {
                    foreach (var a in albumes.Items)
                    {
                        albumesrelacionados.Add(new Album() { portada = a.Images[0].Url, Autores = a.Artists[0].Name, genero = Albumresponse.genero, fechalanzamiento = a.ReleaseDate, nombre = a.Name });
                    }
                }

                songReview = Albumresponse.Tracks[0].Titulo;
                StateHasChanged();

            }


        }
        catch (Exception e)
        {
            var excepcion = e.InnerException?.Message ?? e.Message;

        }

    }

    public int ratenumber = 1;
    public List<int> rate = new List<int>() { 1, 2, 3, 4, 5, 6, 7, 8, 9, 10 };
    public Album Albumresponse = new Album();
    public List<Track> tracksdelalbum = new List<Track>();
    public List<Album> albumesrelacionados = new List<Album>();
    public string songReview = "Track 1";



}
